		<!--SIDENAV MENU-->
		<div th:fragment="sidenav">
			<div style="width: 220px; padding-left: 10px; padding-right: 10px; padding-top: 20px;">
				<ul class="list-unstyled ps-0">
					<li sec:authorize="hasAuthority('OpRegHCJC')" class="mb-1">
						<a th:href="@{/registrul-hcjc}">
							<button id="menuEntryRegHotCJC" class="btn btn-light w-100 btnMenu">Registrul hotărâri CJC</button>
						</a>
					</li>
					<li sec:authorize="hasAuthority('OpRegConsDir')" class="mb-1">
						<a th:href="@{/consiliul-director}">
							<button id="menuEntryConsDir" class="btn btn-light w-100 btnMenu">Consiliul director</button>
						</a>
					</li>
					<li sec:authorize="hasAuthority('OpEvidentaCH')" class="mb-1">
						<a th:href="@{/evidenta-ch}">
							<button id="menuEntryEvidentaCH" class="btn btn-light w-100 btnMenu">Evidență copii handicap</button>
						</a>
					</li>
					<li sec:authorize="hasAuthority('ADMIN')" class="mb-1">
						<a th:href="@{/admin}">
							<button id="menuEntryAdmin" class="btn btn-light w-100 btnMenu">Administrare</button>
						</a>
					</li>
				</ul>
			</div>
		</div>