		<!-- TOP BAR -->
		<div th:fragment="topBar" class="row sticky-top mx-0 justify-content-end align-items-center" style="background-color: white; min-height: 71px;">
			<div class="col-auto d-none d-lg-block">
				<img src="/images/hfs1.jpg" class="rounded float-left" style="width:100px; margin-left: 30px; margin-right: 34px;">
			</div>
			<div class="col d-md-block">
				<a th:href="@{/}" class="text-decoration-none link-dark">
					<h2>DGASPC Călărași</h2>
					<span class="text-body-secondary">management intern</span>
				</a>
			</div>
			<div class="col-auto">
				<a href="#" class="link-body-emphasis text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
					<p style="margin-top:20px;" th:text="${user.prenume} + ' ' + ${user.nume}"></p>
					<i class="bi bi-person-circle" style="font-size: 38px; cursor: pointer;"></i>
				</a>
				<ul class="dropdown-menu text-small shadow">
					<li><a class="dropdown-item" th:href="@{/signin}">Login</a></li>
					<li><a class="dropdown-item" th:href="@{/signup}">Register</a></li>
					<li>
						<hr class="dropdown-divider">
					</li>
					<li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>