<nav th:fragment="topBar" class="navbar navbar-expand-lg" style="box-shadow: 0px 6px 4px -6px grey;">
	<div class="container-fluid">
		<div class="d-flex">
			<img src="/images/hfs1.jpg" style="width:60px;">
			<div>
				<span class="fs-2">DGASPC Călărași</span><br>
				<span class="fs-6">Registre electronice</span>
			</div>
		</div>
		<div class="d-flex fs-3">
			<span id="divTitluPagina">Registrul Hotarâri CJC</span>
		</div>
		<div class="d-flex">
			<span class="navbar-text me-2" style="margin-left: 150px;">
				<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<span class="me-2"> [[${user.prenume} + ' ' + ${user.nume}]] </span> 
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
						</ul>
					</li>
				</ul>
			</span>
		</div>
	</div>
</nav>