.btn-toggle-nav a:hover{
	background-color: rgb(216, 216, 216);
}
.btn-toggle-nav a:focus{
	background-color: rgb(216, 216, 216);
	font-weight: bold;
}

/* The side navigation menu */
.sidenav {
	height: 100%;
	position: fixed;
	z-index: 1;
	left: 0;
	background-color: rgb(255, 255, 255);
	overflow-x: hidden;
	transition: 0.5s;
}

#btnCloseSidenav {
	color: #555;
	font-size:24px; 
	margin-right: 10px; 
	cursor: pointer;
	transition: 0.2s;
}

#btnCloseSidenav:hover {
	color: #999;
	transition: 0.2s;
}

#main {
	/*margin-left: 250px;*/
	transition: margin-left .5s;
	padding: 0px 20px 20px 20px;
}


/*On screens that are less than 700px wide, hide the sidenav*/ 
@media screen and (max-width: 700px) {
	.sidenav {
		width: 0px;
	}
	#main {
		margin-left: 0px;
		transition: margin-left .5s;
	}
}
/*On screens that are bigger than 700px wide, show the sidenav*/ 
@media screen and (min-width: 701px) {
	.sidenav {
		width: 250px;
	}
	#main {
		margin-left: 250px;
		transition: margin-left .5s;
	}
}