<!doctype html>
<html layout:decorate="template" lang="en" data-bs-theme="light">
	<div id="main" layout:fragment="content">
		<div id="divFiltreAvansate" class="row w-100" style="display:none;">
			<div class="col-xl-3"></div>
			<div class="col-xl-6" style="justify-items: center;">
				<div style="display:flex;">
					<div style="display:flex; flex-direction: column;">
						<label class="fw-bold">Dată comisie</label>
						<div style="display:flex;">
							<input id="filtruDataComisieStart" style="width:100px; margin-right:10px;" placeholder="început" onchange="onChangeDataComisieCH()">
							<input id="filtruDataComisieEnd" style="width:100px;" placeholder="sfârșit" onchange="onChangeDataComisieCH()">
						</div>
					</div>
					<div style="display:flex; margin-left: 20px;">
						<div style="display:flex; flex-direction: column;">
							<label class="fw-bold">Vârsta</label>
							<div style="display:flex;">
								<input id="filtruVarstaStart" style="width:100px; margin-right:10px;" placeholder="început" onchange="onChangeDataComisieCH()">
								<input id="filtruVarstaEnd" style="width:100px;" placeholder="sfârșit" onchange="onChangeDataComisieCH()">
							</div>
						</div>
					</div>
					<div style="padding-top:23px; margin-left:20px;">
						<button class="btn btn-primary btn-sm" onClick="aplicaFiltreAvansate();">Aplică filtrele</button>
					</div>
				</div>
			</div>
			<div class="col-xl-3"></div>
		</div>
		<table id="dtEvidentaCH" class="display">
			<thead style="font-size:12px;">
				<tr>
					<th style="background-color: #ccc;">Dată comisie</th>
					<th style="background-color: #ccc;">Nume</th>
					<th style="background-color: #ccc;">Prenume</th>
					<th style="background-color: #ccc;">Sex</th>
					<th style="background-color: #ccc;">Data nașterii</th>
					<th style="background-color: #ccc;">CNP</th>
					<th style="background-color: #ccc;">Domiciliu</th>
					<th style="background-color: #ccc;">Diagnostic</th>
					<th style="background-color: #ccc;">COD CIM</th>
					<th style="background-color: #ccc;">Tip h.</th>
					<th style="background-color: #ccc;">Grad h.</th>
					<th style="background-color: #ccc;">Însoțitor</th>
					<th style="background-color: #ccc;">Școlarizat</th>
					<th style="background-color: #ccc;">Vârstă</th>
					<th style="background-color: #ccc;">Caz nou</th>
					<th style="background-color: #ccc;" title="Locul unde se află">Locul</th>
					<th style="background-color: #ccc;">Categorie afecțiune</th>
					<th style="background-color: #ccc;">Valab. certif.</th>
					<th style="background-color: #ccc;">Valab. în prezent</th>
					<th style="background-color: #ccc;">Status transfer</th>
					<th style="background-color: #ccc;">Info transfer</th>
					<th style="background-color: #ccc;">Operații</th>
				</tr>
				<tr>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
				</tr>
			</thead>
			<tbody style="font-size:12px;">
			</tbody>
		</table>
		
		<!-- Modal handle HTML Error -->
		<div class="modal fade" id="modalHandleHtmlError" role="dialog" aria-labelledby="modalHandleHtmlError">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header" style="padding: 5px; background-color: #F00;  font-weight: bold; color:#FFF;">
						<div id="titluModal" style="width:100%; text-align: center;">Eroare de aplicatie!</div>
					</div>
					<div class="modal-body">
						<span style="font-weight: bold; margin-bottom: 20px;">Vă rugăm să transmiteți această eroare administratorului IT</span>
						<button class="btn btn-sm btn-success" style="margin-left: 20px;" onclick="copiazaEroarea()"> Copiază eroarea (similar CTRL+C) </button>
						<br>
						<div id="divEroareHtml" style="max-height: 400px; overflow: auto; margin-top:20px; padding-left: 30px; padding-right: 30px; background-color: #EEE;"></div>
					</div>
					<div class="modal-footer" style="background-color: #EEE;">
						<button type="button" class="btn btn-danger" onclick="inchideModalHandleHtmlError()">Închide</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End modal HTML Error-->
		
		<!-- Modal adaugare-->
		<div class="modal fade" id="modalAdaugaCH" role="dialog" aria-labelledby="modalAdaugaCH">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header" style="padding: 5px; background-color: #EEE;  font-weight: bold;">
						<div id="titluModal" style="width:100%; text-align: center;">Adaugă copil cu handicap</div>
					</div>
					<div class="modal-body">
						<div class="row mb-2">
							<div class="col-md-2">
								<label class="fw-bold">Dată comisie</label><br>
								<input id="dataComisieCH" class="form-control" onchange="onChangeDataComisieCH()">
							</div>
							<div class="col-md-2">
								<label class="fw-bold">CNP</label><br>
								<input id="cnpCH" class="form-control" onChange="onChangeCNP();">
							</div>
							<div class="col-md-2">
								<label class="fw-bold">Nume</label><br>
								<input id="numeCH" class="form-control">
							</div>
							<div class="col-md-3">
								<label class="fw-bold">Prenume</label><br>
								<input id="prenumeCH" class="form-control">
							</div>
							<div class="col-md-2">
								<label class="fw-bold">Dată nașterii</label><br>
								<input id="dataNasteriiCH" class="form-control" onchange="onChangeDataNasteriiCH()">
							</div>
							<div class="col-md-1">
								<label class="fw-bold">Sex</label><br>
								<select id="selSexCH" class="w-100">
									<option value="M" selected>M</option>
									<option value="F">F</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<label class="fw-bold">Domiciliu</label><br>
								<!-- <input id="domiciliuCH" class="form-control"> -->
								<textarea id="domiciliuCH" class="form-control"></textarea>
							</div>
							<div class="col-md-3">
								<label class="fw-bold">Diagnostic</label><br>
								<!-- <input id="diagnosticCH" class="form-control"> -->
								<textarea id="diagnosticCH" class="form-control"></textarea>
							</div>
							<div class="col-md-2">
								<label class="fw-bold">Cod CIM</label><br>
								<!-- <input id="codCimCH" class="form-control"> -->
								<textarea id="codCimCH" class="form-control"></textarea>
							</div>
							<div class="col-md-2">
								<label class="fw-bold">Tip handicap</label><br>
								<input id="tipHandicapCH" class="form-control">
							</div>
							<div class="col-md-2">
								<label class="fw-bold">Grad handicap</label><br>
								<input id="gradHandicapCH" class="form-control">
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<label class="fw-bold">Însoțitor</label><br>
								<input id="insotitorCH" class="form-control">
							</div>
							<div class="col-md-2">
								<label class="fw-bold">Școlarizat</label><br>
								<input id="scolarizatCH" class="form-control">
							</div>
							<div class="col-md-2">
								<label class="fw-bold">Caz nou</label><br>
								<input id="cazNouCH" class="form-control">
							</div>
							<div class="col-md-2">
								<label class="fw-bold">Locul unde se află</label><br>
								<input id="loculCH" class="form-control">
							</div>
							<div class="col-md-2">
								<label class="fw-bold">Categorie afecțiune</label><br>
								<input id="categorieAfectiuneCH" class="form-control">
							</div>
							<div class="col-md-2">
								<label class="fw-bold">Valabilitate certificat</label><br>
								<input id="valabilitateCertificatCH" class="form-control">
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<label class="fw-bold">Status transfer</label><br>
								<select id="selStatusTransfer" class="w-100" onChange="onChangeSelStatusTransfer();">
									<option value="În evidență" selected>În evidență</option>
									<option value="Transferat la">Transferat la</option>
									<option value="Primit de la">Primit de la</option>
								</select>
							</div>
							<div class="col-md-4" id="divInfoTransfer">
								<label class="fw-bold">Info transfer</label><br>
								<input id="infoTransfer" class="form-control">
							</div>
						</div>
						<div class="row">
							<div id="divMesajAdaugaCH" class="col-md-12" style="color: red; font-weight: bold;"></div>
						</div>
					</div>
					<div class="modal-footer" style="background-color: #EEE;">
						<button id="btnSalveazaCH" type="button" class="btn btn-success" onclick="salveazaCH()">Salvează</button>
						<button type="button" class="btn btn-danger" onclick="inchideModalAdaugaCH()">Închide</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End modal adaugare-->
		
		<!-- Modal adaugare note-->
		<div class="modal fade" id="modalNote" role="dialog" aria-labelledby="modalNote">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header" style="padding: 5px; background-color: #EEE;  font-weight: bold;">
						<div id="titluModal" style="width:100%; text-align: center;">Notițe copil</div>
					</div>
					<div class="modal-body" style="padding: 0px; max-height: 600px;">
						<div style="padding: 15px; box-shadow: 0 8px 6px -6px #eee;">
							<div class="row mb-2">
								<div class="col">
									<label class="fw-bold">Nume copil</label><br>
									<span id="divNumeCH"></span>
								</div>
								<div class="col">
									<label class="fw-bold">Sex</label><br>
									<span id="divSexCH"></span>
								</div>
								<div class="col">
									<label class="fw-bold">CNP</label><br>
									<span id="divCNPCH"></span>
								</div>
								<div class="col">
									<label class="fw-bold">Domiciliu</label><br>
									<span id="divDomiciliuCH"></span>
								</div>
								<div class="col">
									<label class="fw-bold">Diagnostic</label><br>
									<div id="divDiagnosticCH" style="max-height:100px; overflow:auto;"></div>
								</div>
							</div>
						</div>
						<div class="row mx-0">
							<div class="col-9">
								<div id="divNote" class="container d-flex flex-wrap px-3 py-2" style="overflow: auto; max-height: 450px;"> 
									
								</div>								
							</div>
							<div class="col-3" style="text-align: center;">
								<div class="card text-dark bg-light mb-2 mt-2 shadow" style="text-align: center;">
									<div class="card-header fw-bold">Adaugă notiță nouă</div>
									<div class="card-body">
										<textarea id="continutNota" class="form-control mb-2" style="width: 100%; height: 200px;" placeholder="Conținut notiță"></textarea>
										<button id="btnSalveazaNota" type="button" class="btn btn-light shadow" onclick="adaugaNota()">Salvează notița</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer" style="background-color: #EEE;">
						<button type="button" class="btn btn-danger" onclick="inchideModalNote()">Închide</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End modal adaugare note-->
		
	</div>
</html>
<script th:inline="javascript">
	var token = $("meta[name='_csrf']").attr("content");
	var dtEvidentaCH = null;
	var copilCurent = null;
	
	$(document).ready(function() {
		console.log("Evidenta copii handicap - ready!");
		$("#divTitluPagina").html("Evidență copii handicap");
		<!--Activare bootstrap tooltips-->
		var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
		var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
			return new bootstrap.Tooltip(tooltipTriggerEl)
		});
			
		$(".btnMenu").removeClass("btn-primary");
		$("#menuEntryEvidentaCH").removeClass("btn-light");
		$("#menuEntryEvidentaCH").addClass("btn-primary fw-bold");
		incarcaDtEvidentaCH();
	});
	
	function handleHtmlError(htmlError){
		$(".modal").modal("hide");
		$("#divEroareHtml").html(htmlError);
		$("#modalHandleHtmlError").modal({backdrop: "static", keyboard: false}).modal("show");
	}
	
	function inchideModalHandleHtmlError(){
		$("#divEroareHtml").html("");
		$("#modalHandleHtmlError").modal("hide");
		window.location.reload();
	}
	
	function copiazaEroarea(){
		navigator.clipboard.writeText($("#divEroareHtml").html()).then(function () {
		    alert("Textul a fost copiat. Poti folosi CTRL+V")
		}, function () {
		    alert("Textul nu a putut fi copiat. Trebuie selectat si copiat manual.")
		});
	}
	
	function incarcaDtEvidentaCH(){
		DataTable.datetime('DD.MM.YYYY');
		if ($.fn.DataTable.isDataTable("#dtEvidentaCH")) {
			$("#dtEvidentaCH").DataTable().clear().destroy();
		}
		dtEvidentaCH = $("#dtEvidentaCH").DataTable({
			language: {
				url: 'https://cdn.datatables.net/plug-ins/2.3.3/i18n/ro.json',
			},
			layout: {
				topStart: {
					buttons: [
						{
							text: 'Adaugă înregistrare nouă',
							action: function (e, dt, node, config) {
								arataModalAdaugaInregCH();
							}
						},
						//"excel",
						{extend: 'excelHtml5',
							title: 'DGASPC Evidenta ' + getTodayDate(),
							exportOptions: {
								columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
							}
						},
						{extend: 'pdfHtml5',
                    		title: 'DGASPC Evidenta ' + getTodayDate(),
							orientation: 'landscape',
                    		pageSize: 'A2',
							exportOptions: {
								columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
							}
                    	},
                    	{
							text: 'Filtre avansate',
							action: function (e, dt, node, config) {
								arataFiltreAvansate();
							}
						},
                    ]
				}
			},
			//serverSide:true,
			autoWidth: false,
			paging: true,
			order: false,
			lengthChange: false,
			"ajax": {
				"url": "/evidenta-ch/getEvidentaCH",
				"data": function (params) {
					params.filtruDataComisieStart = $("#filtruDataComisieStart").val();
					params.filtruDataComisieEnd = $("#filtruDataComisieEnd").val();
					params.filtruVarstaStart = $("#filtruVarstaStart").val();
					params.filtruVarstaEnd = $("#filtruVarstaEnd").val();
				}
			},
			//ajax: "/evidenta-ch/getEvidentaCH",
			drawCallback:function(){
				var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
				var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
					return new bootstrap.Tooltip(tooltipTriggerEl)
				});
			},
			/* fixedColumns: {
				start: 3,
				end: 1
			}, */
			columns: [
				{ data: "dataComisie" },
				//{ data: "nume" },
				{ data:	null, 
					render: function (data, type, row, meta) {
						return '<div style="width:100%; cursor:pointer;" onclick="editareCH(' + meta.row + ')"><a href="#" class = "text-decoration-none fw-bold">' + data.nume + '</a></div>';
					}
				},
				//{ data: "prenume" },
				{ data:	null, 
					render: function (data, type, row, meta) {
						return '<div style="width:100%; cursor:pointer;" onclick="editareCH(' + meta.row + ')"><a href="#" class = "text-decoration-none fw-bold" >' + data.prenume + '</a></div>';
					}
				},
				{ data: "sex" },
				{ data: "dataNasterii" },
				{ data: "cnp" },
				//{ data: "domiciliu" },
				{ data:	null, 
					render: function (data, type, row, meta) {
						return '<div style="max-height:30px; overflow:auto;" data-bs-toggle="tooltip" title="' + data.domiciliu + '">' + data.domiciliu + '</div>';
					}
				},
				//{ data: "diagnostic" },
				{ data:	null, 
					render: function (data, type, row, meta) {
						return '<div style="max-height:30px; overflow:auto;" data-bs-toggle="tooltip" title="' + data.diagnostic + '">' + data.diagnostic + '</div>';
					}
				},
				//{ data: "codCim" },
				{ data:	null, 
					render: function (data, type, row, meta) {
						return '<div style="max-height:30px; overflow:auto;" data-bs-toggle="tooltip" title="' + data.codCim + '">' + data.codCim + '</div>';
					}
				},
				{ data: "tipHandicap" },
				{ data: "gradHandicap" },
				{ data: "insotitor" },
				{ data: "scolarizat" },
				{ data: "varsta" },
				{ data: "cazNou" },
				{ data: "locul" },
				{ data: "categoriiDeAfectiune" },
				{ data: "valabilitateCertificat" },
				{ data: "valabilInPrezent" },
				{ data: "statusTransfer" },
				{ data: "infoTransfer" },
				{ data: 
					null, 
					render: function (data, type, row, meta) {
						var noteIconColor = "orange";
						if(data.totalNote != "0"){
							noteIconColor = "blue";
						}
						return ''
							+ '<i class="fa-button bi bi-pencil-square" style="margin-right:15px; color:green;" data-bs-toggle="tooltip" title="Editare" onclick="editareCH(' + meta.row + ')"></i>'
							+ '<i class="fa-button bi bi-chat-left-text" style="margin-right:15px; color:' + noteIconColor + ';" data-bs-toggle="tooltip" title="Notițe ' + data.totalNote + '" onclick="arataModalNote(' + meta.row + ')"></i>'
							+ '<i class="fa-button bi bi-trash" style="margin-right:15px; color:red;" data-bs-toggle="tooltip" title="Șterge înregistrarea" onclick="stergeCH(' + meta.row + ')"></i>';
					}
				}
			]
		});
		//adauga filtre coloane
		$("#dtEvidentaCH thead tr:eq(1) th").each(function(i){
			if(i < ($("#dtEvidentaCH thead tr:eq(1) th").length - 1)){
				var title = $("#dtEvidentaCH thead th").eq($(this).index()).text();
				$(this).html('<input class="filtru-coloane w-100" type="text" placeholder="' + title + '" data-index="' + i + '" />');	
			}
			if(i == $("#dtEvidentaCH thead tr:eq(1) th").length -1){
				$(this).html('<button id="btnResetareFiltre" type="button" class="w-100" onclick="onClickReseteazaFiltre();">Resetează</button>');
			}
		});
		
		$("#main .filtru-coloane").on("keyup", function(){
			dtEvidentaCH.column($(this).data('index')).search(this.value).draw();
		});
	}
	
	function onClickReseteazaFiltre(){
		$("#filtruDataComisieStart").val("");
		$("#filtruDataComisieEnd").val("");
		$("#filtruVarstaStart").val("");
		$("#filtruVarstaEnd").val("");
		$("#divFiltreAvansate").slideUp();
		incarcaDtEvidentaCH();
	}
	
	function arataModalAdaugaInregCH(){
		$("#divMesajAdaugaCH").html("");
		$("#btnSalveazaCH").prop("disabled", false);
		$("#divInfoTransfer").hide();
		$("#dataComisieCH").val("");
		$("#numeCH").val("");
		$("#prenumeCH").val("");
		$("#selSexCH").val("M").select2({
			theme: "bootstrap-5", 
			dropdownParent: $("#modalAdaugaCH"), 
			minimumResultsForSearch: -1
		});
		$("#dataNasteriiCH").val("");
		$("#cnpCH").val("");
		$("#domiciliuCH").val("");
		$("#diagnosticCH").val("");
		$("#codCimCH").val("");
		$("#tipHandicapCH").val("");
		$("#gradHandicapCH").val("");
		$("#insotitorCH").val("");
		$("#scolarizatCH").val("");
		$("#cazNouCH").val("");
		$("#loculCH").val("");
		$("#categorieAfectiuneCH").val("");
		$("#valabilitateCertificatCH").val("");
		$("#selStatusTransfer").val("").select2({
			theme: "bootstrap-5", 
			dropdownParent: $("#modalAdaugaCH"), 
			minimumResultsForSearch: -1
		});
		$("#infoTransfer").val("");
		
		$("#modalAdaugaCH").modal({backdrop: "static", keyboard: false}).modal("show");
		setTimeout(function(){
			$("#dataComisieCH").focus();
		}, 200);
	}
	
	function inchideModalAdaugaCH(){
		copilCurent = null;
		$("#modalAdaugaCH").modal("hide");
	}
	
	function onChangeDataComisieCH(){
		if(verificaData($("#dataComisieCH").val()) != "ok"){
			$("#divMesajAdaugaCH").html("Eroare!<br>Câmpul dată comisie trebuie să fie în formatul dd.mm.yyyy!");
			$("#btnSalveazaCH").prop("disabled", true);
		}else{
			$("#divMesajAdaugaCH").html("");
			$("#btnSalveazaCH").prop("disabled", false);
		}
	}
	
	function onChangeDataNasteriiCH(){
		if(verificaData($("#dataNasteriiCH").val()) != "ok"){
			$("#divMesajAdaugaCH").html("Eroare!<br>Câmpul data nașterii trebuie să fie în formatul dd.mm.yyyy!");
			$("#btnSalveazaCH").prop("disabled", true);
		}else{
			$("#divMesajAdaugaCH").html("");
			$("#btnSalveazaCH").prop("disabled", false);
		}
	}
	
	function salveazaCH(){
		var eroareValidare = false;
		var urlSalvare = "/evidenta-ch/postCH";
		if(verificaData($("#dataComisieCH").val()) != "ok"){
			eroareValidare = true;
			$("#divMesajAdaugaCH").html("Completează câmpul dată ședință");
			return;
		}
		if(!$("#numeCH").val()){
			eroareValidare = true;
			$("#divMesajAdaugaCH").html("Completează câmpul nume");
			return;
		}
		if(!$("#prenumeCH").val()){
			eroareValidare = true;
			$("#divMesajAdaugaCH").html("Completează câmpul prenume");
			return;
		}
		
		if(!eroareValidare){
			var copilHandicap = {
					"dataComisie": $("#dataComisieCH").val(),
					"nume": $("#numeCH").val(),
					"prenume": $("#prenumeCH").val(),
					"sex": $("#selSexCH").val(),
					"dataNasterii": $("#dataNasteriiCH").val(),
					"cnp": $("#cnpCH").val(),
					"domiciliu": $("#domiciliuCH").val(),
					"diagnostic": $("#diagnosticCH").val(),
					"codCim": $("#codCimCH").val(),
					"tipHandicap": $("#tipHandicapCH").val(),
					"gradHandicap": $("#gradHandicapCH").val(),
					"insotitor": $("#insotitorCH").val(),
					"scolarizat": $("#scolarizatCH").val(),
					"cazNou": $("#cazNouCH").val(),
					"locul": $("#loculCH").val(),
					"categoriiDeAfectiune": $("#categorieAfectiuneCH").val(),
					"valabilitateCertificat": $("#valabilitateCertificatCH").val(),
					"statusTransfer": $("#selStatusTransfer").val(),
					"infoTransfer": $("#infoTransfer").val(),
				};
			var resetPaging = true;
			if(copilCurent != null && copilCurent.id != null){
				urlSalvare = "/evidenta-ch/putCH";
				copilHandicap.id = copilCurent.id;
				resetPaging = false;
			}
			$.ajax({
				url: urlSalvare,
				type: "POST",
				headers: {"X-CSRF-TOKEN": token},
				contentType: "application/json",
				data: JSON.stringify(copilHandicap),
				success: function(response) {
					inchideModalAdaugaCH();
					dtEvidentaCH.ajax.reload(null, resetPaging);
				},
				error: function(response){
					handleHtmlError(response.responseText);
				}
			});
		}else{
			alert("Formularul nu este completat corect! Datele nu pot fi salvate.");
		}
	}
	
	function editareCH(rowIndex){
		copilCurent = dtEvidentaCH.row(rowIndex).data();
		$("#divMesajAdaugaCH").html("");
		$("#btnSalveazaCH").prop("disabled", false);
		$("#dataComisieCH").val(copilCurent.dataComisie);
		$("#numeCH").val(copilCurent.nume);
		$("#prenumeCH").val(copilCurent.prenume);
		$("#selSexCH").val(copilCurent.sex).select2({
			theme: "bootstrap-5", 
			dropdownParent: $("#modalAdaugaCH"),
			minimumResultsForSearch: -1
		});
		$("#dataNasteriiCH").val(copilCurent.dataNasterii);
		$("#cnpCH").val(copilCurent.cnp);
		$("#domiciliuCH").val(copilCurent.domiciliu);
		$("#diagnosticCH").val(copilCurent.diagnostic);
		$("#codCimCH").val(copilCurent.codCim);
		$("#tipHandicapCH").val(copilCurent.tipHandicap);
		$("#gradHandicapCH").val(copilCurent.gradHandicap);
		$("#insotitorCH").val(copilCurent.insotitor);
		$("#scolarizatCH").val(copilCurent.scolarizat);
		$("#cazNouCH").val(copilCurent.cazNou);
		$("#loculCH").val(copilCurent.locul);
		$("#categorieAfectiuneCH").val(copilCurent.categoriiDeAfectiune);
		$("#valabilitateCertificatCH").val(copilCurent.valabilitateCertificat);
		$("#selStatusTransfer").val(copilCurent.statusTransfer).select2({
			theme: "bootstrap-5", 
			dropdownParent: $("#modalAdaugaCH"),
			minimumResultsForSearch: -1
		});
		$("#infoTransfer").val(copilCurent.infoTransfer);
		$("#modalAdaugaCH").modal({backdrop: "static", keyboard: false}).modal("show");
	}
	
	function arataModalNote(rowIndex){
		copilCurent = dtEvidentaCH.row(rowIndex).data();
		$("#divNumeCH").html(copilCurent.nume + "&nbsp;&nbsp;" + copilCurent.prenume);
		$("#divSexCH").html(copilCurent.sex);
		$("#divCNPCH").html(copilCurent.cnp);
		$("#divDomiciliuCH").html(copilCurent.domiciliu);
		$("#divDiagnosticCH").html(copilCurent.diagnostic);
		incarcaNote(copilCurent.id, "evidentaCH");
	}
	
	function incarcaNote(id, entitate){
		$.ajax({
			url: "/note/getNote?id=" + id + "&entitate=" + entitate,
			type: "GET",
			success: function(response) {
				var htmlNote = "";
				for (const nota of response) {
					htmlNote += '<div class="card text-dark bg-light mb-3 shadow" style="max-width: 18rem; margin-right: 20px;">'
						+ '<div class="card-header fw-bold ">' + nota.data + ' ' + nota.persoana.prenume + ' ' + nota.persoana.nume + ':</div>'
						+ '<div class="card-body">'
						+	'<p class="card-text">' + nota.text + '</p>'
						+ '</div>'
					+'</div>';
				}
				
				$("#divNote").html(htmlNote);
				$("#modalNote").modal({backdrop: "static", keyboard: false}).modal("show");
			},
			error: function(response){
				handleHtmlError(response.responseText);
			}
		});
	}
	
	function inchideModalNote(){
		$("#divNote").html("");
		$("#continutNota").val("");
		$("#modalNote").modal("hide");
		copilCurent = null;
	}
	
	function adaugaNota(){
		if($("#continutNota").val()){
			var nota = {
					"idEntitate": copilCurent.id,
					"entitate": "evidentaCH",
					"text": $("#continutNota").val(),
				};
			$.ajax({
				url: "/note/postNota",
				type: "POST",
				headers: {"X-CSRF-TOKEN": token},
				contentType: "application/json",
				data: JSON.stringify(nota),
				success: function(response) {
					if(response == "ok"){
						$("#continutNota").val("");
						incarcaNote(copilCurent.id, "evidentaCH");
					}else{
						alert("Nota nu a fost salvata! Eroare de aplicatie.");
					}
				},
				error: function(response){
					handleHtmlError(response.responseText);
				}
			});
		}else{
			alert("Completați conținutul! Nota nu a fost salvată.");
		}
	}
	
	function stergeCH(rowIndex){
		copilCurent = dtEvidentaCH.row(rowIndex).data();
		bootbox.confirm({
			size: "large",
			title: "Șterg?",
			message: "Sunteți sigur că doriți ștergerea înregistrării aferente copilului: " + copilCurent.nume + " " + copilCurent.prenume + ", data comisie: " + copilCurent.dataComisie + " ?",
			buttons: {
				cancel: {
					label: '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nu &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
					className: 'btn-danger'
				},
				confirm: {
					label: 'Da',
					className: 'btn-success'
				}
			},
			swapButtonOrder: true,
			callback: function(confirmare){
				if(confirmare){
					$.ajax({
						url: "/evidenta-ch/stergeCH",
						type: "POST",
						headers: {"X-CSRF-TOKEN": token},
						contentType: "application/json",
						data: copilCurent.id,
						success: function(response) {
							if(response == "ok"){
								dtEvidentaCH.ajax.reload(null, false);
							}else{
								alert("Ștergerea nu a fost efectuată! Eroare de aplicație.");
							}
						},
						error: function(response){
							handleHtmlError(response.responseText);
						}
					});
					copilCurent = null;
				}else{
					copilCurent = null;
				}
			}
		});
	}
	
	function onChangeCNP(){
		if(copilCurent == null && $("#cnpCH").val()){
			$.ajax({
				url: "/evidenta-ch/getCopilByCNP?cnp="+$("#cnpCH").val(),
				type: "GET",
				success: function(response) {
					if(response != null && response.cnp == $("#cnpCH").val()){
						$("#numeCH").val(response.nume);
						$("#prenumeCH").val(response.prenume);
						$("#selSexCH").val(response.sex).select2({
							theme: "bootstrap-5", 
							dropdownParent: $("#modalAdaugaCH"),
							minimumResultsForSearch: -1
						});
						$("#dataNasteriiCH").val(response.dataNasterii);
						$("#domiciliuCH").val(response.domiciliu);
						$("#diagnosticCH").val(response.diagnostic);
						$("#codCimCH").val(response.codCim);
						$("#tipHandicapCH").val(response.tipHandicap);
						$("#gradHandicapCH").val(response.gradHandicap);
						$("#insotitorCH").val(response.insotitor);
						$("#scolarizatCH").val(response.scolarizat);
						$("#cazNouCH").val(response.cazNou);
						$("#loculCH").val(response.locul);
						$("#categorieAfectiuneCH").val(response.categoriiDeAfectiune);
						$("#valabilitateCertificatCH").val(response.valabilitateCertificat);
						$("#selStatusTransfer").val(response.statusTransfer).select2({
							theme: "bootstrap-5", 
							dropdownParent: $("#modalAdaugaCH"),
							minimumResultsForSearch: -1
						});
						$("#infoTransfer").val(response.infoTransfer);
					}
				},
				error: function(response){
					handleHtmlError(response.responseText);
				}
			});
		}
		if($("#cnpCH").val() && ($("#cnpCH").val().substring(0, 1) == "1" || $("#cnpCH").val().substring(0, 1) == "3" || $("#cnpCH").val().substring(0, 1) == "5" || $("#cnpCH").val().substring(0, 1) == "7")){
			$("#selSexCH").val("M").trigger('change');
		}else if($("#cnpCH").val() && ($("#cnpCH").val().substring(0, 1) == "2" || $("#cnpCH").val().substring(0, 1) == "4" || $("#cnpCH").val().substring(0, 1) == "6" || $("#cnpCH").val().substring(0, 1) == "8")){
			$("#selSexCH").val("F").trigger("change");
		}
		if($("#cnpCH").val() && parseInt($("#cnpCH").val().substring(0, 1)) <= 6){
			var anul, luna, ziua;
			if($("#cnpCH").val() && parseInt($("#cnpCH").val().substring(0, 1)) <= 4){
				anul = "19" + parseInt($("#cnpCH").val().substring(1, 3));
			}else if($("#cnpCH").val() && parseInt($("#cnpCH").val().substring(0, 1)) > 4 && parseInt($("#cnpCH").val().substring(0, 1)) <= 6){
				anul = "20" + $("#cnpCH").val().substring(1, 3);
			}
			luna = $("#cnpCH").val().substring(3, 5);
			ziua = $("#cnpCH").val().substring(5, 7);
			$("#dataNasteriiCH").val(ziua + "." + luna + "." + anul);
		}
	}
	
	function onChangeSelStatusTransfer(){
		$("#infoTransfer").val("");
		if($("#selStatusTransfer").val() == "Transferat la" || $("#selStatusTransfer").val() == "Primit de la"){
			$("#divInfoTransfer").show();
		}else{
			$("#divInfoTransfer").hide();
		}
	}
	
	function arataFiltreAvansate(){
		if($("#divFiltreAvansate").is(":visible")){
			$("#filtruDataComisieStart").val("");
			$("#filtruDataComisieEnd").val("");
			$("#filtruVarstaStart").val("");
			$("#filtruVarstaEnd").val("");
			$("#divFiltreAvansate").slideUp();
		}else{
			$("#divFiltreAvansate").slideDown();
		}
	}
	
	function aplicaFiltreAvansate(){
		dtEvidentaCH.ajax.reload(null, false);
	}
</script>