<!doctype html>
<html layout:decorate="template" lang="en" data-bs-theme="light">
	<div id="main" layout:fragment="content">
		<div class="pt-3">
			<div class="row">
				<div class="col">
					<div class="py-2" style="position: relative; height: 50px;">
						<div class="w-100 text-center" style="position: absolute; ">
							<h3>Registrul hotărâri CJC</h3>
						</div>
						<div class="pe-2" style="width: 100%; position: absolute; text-align: right;">
							<button type="button" class="btn btn-primary" onclick="arataModalAdaugaInregHCJC();">Adaugă înregistrare nouă</button>
						</div>
					</div> 
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="rounded  py-2 px-2 mt-4">
						<div class="row">
							<div class="col">
								<table id="dtHotarariCJC" class="table table-striped" style="width: 100%;">
									<thead style="background-color: #EEE;">
										<tr>
											<th style="background-color: #CCC;">Nr.</th>
											<th style="background-color: #CCC;">Data</th>
											<th style="background-color: #CCC;">Emitent</th>
											<th style="background-color: #CCC;">Data comunicării</th>
											<th style="background-color: #CCC;">Compartimentul adresat</th>
											<th style="background-color: #CCC;">Persoana care a primit-o</th>
											<th style="background-color: #CCC;">Data primirii</th>
											<th style="background-color: #CCC;">Stadiu</th>
											<th style="width:150px; background-color: #CCC;">Operații</th>
										</tr>
									</thead>
									<tbod>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Modal handle HTML Error -->
		<div class="modal fade" id="modalHandleHtmlError" tabindex="-1" role="dialog" aria-labelledby="modalHandleHtmlError">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header" style="padding: 5px; background-color: #F00;  font-weight: bold; color:#FFF;">
						<div id="titluModal" style="width:100%; text-align: center;">Eroare de aplicatie!</div>
					</div>
					<div class="modal-body">
						<span style="font-weight: bold; margin-bottom: 20px;">Vă rugăm să transmiteți această eroare administratorului IT</span>
						<button class="btn btn-sm btn-success" style="margin-left: 20px;" onclick="copiazaEroarea()"> Copiază eroarea (similar CTRL+C) </button>
						<br>
						<div id="divEroareHtml" style="max-height: 400px; overflow: auto; margin-top:20px; padding-left: 30px; padding-right: 30px; background-color: #EEE;"></div>
					</div>
					<div class="modal-footer" style="background-color: #EEE;">
						<button type="button" class="btn btn-danger" onclick="inchideModalHandleHtmlError()">Închide</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End modal incarca fisier hotarareCJC-->
		
		<!-- Modal adaugare hotarareCJC-->
		<div class="modal fade" id="modalAdaugaHotarareCJC" tabindex="-1" role="dialog" aria-labelledby="modalAdaugaHotarareCJC">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header" style="padding: 5px; background-color: #EEE;  font-weight: bold;">
						<div id="titluModal" style="width:100%; text-align: center;">Adaugă o hotărâre CJC</div>
					</div>
					<div class="modal-body">
						<div class="row mb-2">
							<div class="col-md-2">
								<label for="nrHotarare" class="fw-bold">Nr. hotărare</label><br>
								<input id="nrHotarare" class="form-control">
							</div>
							<div class="col-md-2">
								<label for="dataHotarare" class="fw-bold">Dată hotărare</label><br>
								<input id="dataHotarare" class="form-control" onchange="onChangeDataHotarare()">
							</div>
							<div class="col-md-8">
								<label for="emitentHotarare" class="fw-bold">Emitent</label><br>
								<input id="emitentHotarare" class="form-control">
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<label for="dataCom" class="fw-bold">Data comunicării</label><br>
								<input id="dataCom" class="form-control" onchange="onChangeDataComunicarii()">
							</div>
							<div class="col-md-3">
								<label for="compartimentul" class="fw-bold">Compartimentul adresat</label><br>
								<input id="compartimentul" class="form-control">
							</div>
							<div class="col-md-3">
								<label for="persoanaPrimire" class="fw-bold">Persoana care a primit-o</label><br>
								<input id="persoanaPrimire" class="form-control">
							</div>
							<div class="col-md-2">
								<label for="dataPrimirii" class="fw-bold">Data primirii</label><br>
								<input id="dataPrimirii" class="form-control" onchange="onChangeDataPrimirii()">
							</div>
							<div class="col-md-2">
								<label for="selStadiuHotarare" class="fw-bold">Stadiu</label><br>
								<select id="selStadiuHotarare" class="selectpicker w-100">
									<option value="ÎN LUCRU" selected>În lucru</option>
									<option value="REZOLVATĂ">Rezolvată</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div id="divMesajAdaugaHotarare" class="col-md-12" style="color: red; font-weight: bold;"></div>
						</div>
					</div>
					<div class="modal-footer" style="background-color: #EEE;">
						<button id="btnSalveazaHotarare" type="button" class="btn btn-success" onclick="salveazaHotarareCJC()">Salvează</button>
						<button type="button" class="btn btn-danger" onclick="inchideModalAdaugaHCJC()">Închide</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End modal adaugare hotarareCJC-->
		<!-- Modal incarca fisier hotarareCJC-->
		<div class="modal fade" id="modalAdaugaFisierHotarareCJC" tabindex="-1" role="dialog" aria-labelledby="modalAdaugaFisierHotarareCJC" aria-hidden="true">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header" style="padding: 5px; background-color: #EEE;  font-weight: bold;">
						<div id="titluModal" style="width:100%; text-align: center;">Adaugă fișier hotărâre CJC</div>
					</div>
					<form method="POST" enctype="multipart/form-data" id="formFisierHotarareCJC">
					<div class="modal-body">
						<div style="width: 100%; text-align: center; padding: 10px;">
							<input type="file" id="fisierHotarareCJC" name="fisierHotarareCJC" style="width: 400px;"/>	
						</div>
					</div>
					</form>
					<div class="modal-footer" style="background-color: #EEE;">
						<!--<input type="submit" class="btn btn-success" value="Încarcă fișierul" />-->
						<button id="btnSalveazaHotarare" type="button" class="btn btn-success" onclick="incarcaFisierul()">Salvează</button>
						<button type="button" class="btn btn-danger" onclick="inchideModalAdaugaFisierHCJC()">Închide</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End modal incarca fisier hotarareCJC-->
	</div>
</html>
<script th:inline="javascript">
	var token = $("meta[name='_csrf']").attr("content");
	var mesajAdaugaHotarare = "";
	var dtHotarariCJC = null;
	var hotarareaCurenta = null;
	
	$(document).ready(function() {
		console.log("Registul hotarari CJC - ready!");
		$(".btnMenu").removeClass("btn-primary");
		$("#menuEntryRegHotCJC").removeClass("btn-light");
		$("#menuEntryRegHotCJC").addClass("btn-primary");
		incarcaDtHotarariCJC();
	});
	
	function handleHtmlError(htmlError){
		$(".modal").modal("hide");
		$("#divEroareHtml").html(htmlError);
		$("#modalHandleHtmlError").modal({backdrop: "static", keyboard: false}).modal("show");
	}
	
	function inchideModalHandleHtmlError(){
		$("#divEroareHtml").html("");
		$("#modalHandleHtmlError").modal("hide");
		window.location.reload();
	}
	
	function copiazaEroarea(){
		navigator.clipboard.writeText($("#divEroareHtml").html()).then(function () {
		    alert("Textul a fost copiat. Poti folosi CTRL+V")
		}, function () {
		    alert("Textul nu a putut fi copiat. Trebuie selectat si copiat manual.")
		});
	}
	
	function incarcaDtHotarariCJC(){
		if ($.fn.DataTable.isDataTable('#dtHotarariCJC')) {
			$('#dtHotarariCJC').DataTable().clear().destroy();
		}
		dtHotarariCJC = $("#dtHotarariCJC").DataTable({
			language: {
				url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/ro.json"
			},			
			layout: {
				topStart: {
					buttons: ['excel', 'pdf']
				}
			},
			paging: true,
			order: false,
			lengthChange: false,
			ajax: "/getHotarariCJC",
			columns: [
			        { data: "nrHotarare" },
			        { data: "dataHotarare" },
			        { data: "emitent" },
			        { data: "dataComunicarii" },
			        { data: "compartimentulAdresat" },
					{ data: "persoanaPrimire"},
					{ data: "dataPrimirii"},
					{ data: "stadiu"},
					{ data: 
						null, 
						render: function (data, type, row, meta) {
							var arataDownloadFisier = "";
							if(data.numeFisier != null && data.numeFisier != ""){
								arataDownloadFisier = '<a href="/downloadFisier/'+ data.id +'"><i class="fa-button fa-solid fa-file-arrow-down" style="margin-right:15px;" title="Descarcă fișier"></i></a>';
							}
							return '<i class="fa-button fa-solid fa-pen-to-square" style="margin-right:15px; color:green;" title="Editare" onclick="editareHotarareCJC(' + meta.row + ')"></i>'
							+ '<i class="fa-button fa-regular fa-comment-dots" style="margin-right:15px; color:orange;" title="Notițe"></i>'
							+ '<i class="fa-button fa-solid fa-file-arrow-up" style="margin-right:15px; color:purple;" title="Încarcă fișier" onclick="arataModalAdaugaFisierHCJC(' + meta.row + ')"></i>'
							+ arataDownloadFisier;
						}
					}
			]
		});
	}
	
	function arataModalAdaugaInregHCJC(){
		$("#nrHotarare").val("");
		$("#dataHotarare").val("");
		$("#emitentHotarare").val("");
		$("#dataCom").val("");
		$("#compartimentul").val("");
		$("#persoanaPrimire").val("");
		$("#dataPrimirii").val("");
		$("#selStadiuHotarare").val("ÎN LUCRU").selectpicker("destroy").selectpicker();
		$("#modalAdaugaHotarareCJC").modal({backdrop: "static", keyboard: false}).modal("show");
	}
	
	function inchideModalAdaugaHCJC(){
		$("#modalAdaugaHotarareCJC").modal("hide");
	}
	
	function verificaData(dataInput){
		var dateArray = dataInput.split(".");
		var ziuaOk = false;
		var lunaOk = false;
		var anulOk = false;
		if(dateArray.length == 3){
			if(parseInt(dateArray[0]) > 0 && parseInt(dateArray[0]) <= 31){
				ziuaOk = true;
			}
			if(parseInt(dateArray[1]) > 0 && parseInt(dateArray[1]) <= 12){
				lunaOk = true;
			}
			if(dateArray[2].length == 4 && parseInt(dateArray[2]) > 1900 && parseInt(dateArray[2]) <= 2199){
				anulOk = true;
			}
		}else{
			return "notok";
		}
		
		if(!ziuaOk || !lunaOk || !anulOk){
			return "notok";
		}else{
			return "ok";
		}
	}
	
	function onChangeDataHotarare(){
		if(verificaData($("#dataHotarare").val()) != "ok"){
			//$("#dataHotarare").val("dd.mm.yyyy");
			$("#divMesajAdaugaHotarare").html("Eroare!<br>Câmpul dată hotărâre trebuie să fie în formatul dd.mm.yyyy!");
			$("#btnSalveazaHotarare").prop("disabled", true);
		}else{
			$("#divMesajAdaugaHotarare").html("");
			$("#btnSalveazaHotarare").prop("disabled", false);
		}
	}
	
	function onChangeDataComunicarii(){
		if(verificaData($("#dataCom").val()) != "ok"){
			//$("#dataCom").val("dd.mm.yyyy");
			$("#divMesajAdaugaHotarare").html("Eroare!<br>Câmpul data comunicării trebuie să fie în formatul dd.mm.yyyy!");
			$("#btnSalveazaHotarare").prop("disabled", true);
		}else{
			$("#divMesajAdaugaHotarare").html("");
			$("#btnSalveazaHotarare").prop("disabled", false);
		}
	}
	
	function onChangeDataPrimirii(){
		if(verificaData($("#dataPrimirii").val()) != "ok"){
			//$("#dataPrimirii").val("dd.mm.yyyy");
			$("#divMesajAdaugaHotarare").html("Eroare!<br>Câmpul data primirii trebuie să fie în formatul dd.mm.yyyy!");
			$("#btnSalveazaHotarare").prop("disabled", true);
		}else{
			$("#divMesajAdaugaHotarare").html("");
			$("#btnSalveazaHotarare").prop("disabled", false);
		}
	}

	function salveazaHotarareCJC(){
		var eroareValidare = false;
		var urlSalvare = "/postHotarareCJC";
		if(!$("#nrHotarare").val()){
			eroareValidare = true;
			$("#divMesajAdaugaHotarare").html("Completează câmpul nr. hotărâre");
			return;
		}
		if(verificaData($("#dataHotarare").val()) != "ok"){
			eroareValidare = true;
			$("#divMesajAdaugaHotarare").html("Completează câmpul dată hotărâre");
			return;
		}
		if(!$("#emitentHotarare").val()){
			eroareValidare = true;
			$("#divMesajAdaugaHotarare").html("Completează câmpul emitent");
			return;
		}
		if(verificaData($("#dataCom").val()) != "ok"){
			eroareValidare = true;
			$("#divMesajAdaugaHotarare").html("Completează câmpul data comunicării");
			return;
		}
		if(!$("#compartimentul").val()){
			eroareValidare = true;
			$("#divMesajAdaugaHotarare").html("Completează câmpul compartimentul adresat");
			return;
		}
		if(!$("#persoanaPrimire").val()){
			eroareValidare = true;
			$("#divMesajAdaugaHotarare").html("Completează câmpul persoana primire");
			return;
		}
		if(verificaData($("#dataPrimirii").val()) != "ok"){
			eroareValidare = true;
			$("#divMesajAdaugaHotarare").html("Completează câmpul data primirii");
			return;
		}
		if(!eroareValidare){
			var hotarareCJC = {
					"nrHotarare": $("#nrHotarare").val(),
					"dataHotarare": $("#dataHotarare").val(),
					"emitent": $("#emitentHotarare").val(),
					"dataComunicarii": $("#dataCom").val(),
					"compartimentulAdresat": $("#compartimentul").val(),
					"persoanaPrimire": $("#persoanaPrimire").val(),
					"dataPrimirii": $("#dataPrimirii").val(),
					"stadiu": $("#selStadiuHotarare").val(),
				};
			if(hotarareaCurenta != null && hotarareaCurenta.id != null){
				urlSalvare = "/putHotarareCJC";
				hotarareCJC.id = hotarareaCurenta.id;
			}
			$.ajax({
				url: urlSalvare,
				type: "POST",
				headers: {"X-CSRF-TOKEN": token},
				contentType: "application/json",
				data: JSON.stringify(hotarareCJC),
				success: function(response) {
					inchideModalAdaugaHCJC();
					incarcaDtHotarariCJC();
				},
				error: function(response){
					handleHtmlError(response.responseText);
				}
			});
		}else{
			alert("Formularul nu este completat corect! Datele nu pot fi salvate.");
		}
	}
	
	function editareHotarareCJC(rowIndex){
		hotarareaCurenta = dtHotarariCJC.row(rowIndex).data();
		$("#nrHotarare").val(hotarareaCurenta.nrHotarare);
		$("#dataHotarare").val(hotarareaCurenta.dataHotarare);
		$("#emitentHotarare").val(hotarareaCurenta.emitent);
		$("#dataCom").val(hotarareaCurenta.dataComunicarii);
		$("#compartimentul").val(hotarareaCurenta.compartimentulAdresat);
		$("#persoanaPrimire").val(hotarareaCurenta.persoanaPrimire);
		$("#dataPrimirii").val(hotarareaCurenta.dataPrimirii);
		$("#selStadiuHotarare").val(hotarareaCurenta.stadiu).selectpicker("destroy").selectpicker();
		$("#modalAdaugaHotarareCJC").modal({backdrop: "static", keyboard: false}).modal("show");
	}
	
	function arataModalAdaugaFisierHCJC(rowIndex){
		hotarareaCurenta = dtHotarariCJC.row(rowIndex).data();
		$("#fisierHotarareCJC").val("");
		$("#modalAdaugaFisierHotarareCJC").modal({backdrop: "static", keyboard: false}).modal("show");
	}

	function inchideModalAdaugaFisierHCJC(){
		$("#fisierHotarareCJC").val("");
		$("#modalAdaugaFisierHotarareCJC").modal("hide");
	}
	
	function incarcaFisierul(rowIndex){
		console.log("debug incarcaFisierul");
		var form = $('#formFisierHotarareCJC')[0];
		var data = new FormData(form);
		data.append("idHotarare", hotarareaCurenta.id);

		$.ajax({
			url : '/incarcaFisier',
			headers: {"X-CSRF-TOKEN": token},
			type : 'POST',
			data: data,
			enctype: 'multipart/form-data',
			processData: false,  // tell jQuery not to process the data
			contentType: false,  // tell jQuery not to set contentType
			cache: false,
			success : function(data) {
				console.log(data);
				if(data == "ok"){
					inchideModalAdaugaFisierHCJC();
					dtHotarariCJC.ajax.reload(null, false);
				}
			},
			error: function(eroare) {
				handleHtmlError(response.responseText);
			}
		});
	}
</script>
