<!doctype html>
<html layout:decorate="template" lang="en" data-bs-theme="light">
	<div id="main" layout:fragment="content">
		<table id="dtDispozitii" class="display" style="width: 100%;">
			<thead>
				<tr>
					<th style="width:100px; background-color: #ccc;">Nr.</th>
					<th style="width:100px; background-color: #ccc;">Data</th>
					<th style="background-color: #ccc;">Emitent</th>
					<th style="width:100px; background-color: #ccc;">Data comunicării</th>
					<th style="background-color: #ccc;">Compartiment / Persoana / Data primirii</th>
					<th style="width:100px; background-color: #ccc;">Stadiu</th>
					<th style="width:190px; background-color: #ccc;">Operații</th>
				</tr>
				<tr>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
					<th data-dt-order="disable"></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>

		<!-- Modal adaugare dispozitie-->
		<div class="modal fade" id="modalAdaugaDispozitie" role="dialog" aria-labelledby="modalAdaugaDispozitie">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header" style="padding: 5px; background-color: #EEE;  font-weight: bold;">
						<div id="titluModal" style="width:100%; text-align: center;">Adaugă o dispoziție</div>
						<button type="button" class="btn-close" style="margin-right:1px; padding:5px;" onclick="inchideModalAdaugaDispozitie()"></button>
					</div>
					<div class="modal-body">
						<div class="row mb-2">
							<div class="col-md-2">
								<label for="nrDispozitie" class="fw-bold">Nr. dispoziție</label><br>
								<input id="nrDispozitie" class="form-control">
							</div>
							<div class="col-md-2">
								<label for="dataDispozitie" class="fw-bold">Dată dispoziție</label><br>
								<input id="dataDispozitie" class="form-control" onchange="onChangeDataDispozitie()">
							</div>
							<div class="col-md-4">
								<label for="emitentDispozitie" class="fw-bold">Emitent</label><br>
								<input id="emitentDispozitie" class="form-control">
							</div>
							<div class="col-md-2">
								<label for="dataCom" class="fw-bold">Data comunicării</label><br>
								<input id="dataCom" class="form-control" onchange="onChangeDataComunicarii()">
							</div>
							<div class="col-md-2">
								<label for="selStadiuDispozitie" class="fw-bold">Stadiu</label><br>
								<select id="selStadiuDispozitie" class="w-100">
									<option value="În lucru" selected>În lucru</option>
									<option value="Rezolvată">Rezolvată</option>
								</select>
							</div>
						</div>
						<div class="row" style="margin-top:40px; background-color:darkslateblue;">
							<div class="col-md-12" style="color:white; font-weight:bold;">Listă primitori:</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<label for="selPersoanaPrimire" class="fw-bold">Persoana care a primit-o</label><br>
								<select id="selPersoanaPrimire" class="w-100" onChange = "onChangeSelPersoanaPrimire();">
								</select>
							</div>
							<div class="col-md-5">
								<label for="selCompartiment" class="fw-bold">Compartimentul adresat</label><br>
								<select id="selCompartiment" class="w-100" onChange = "onChangeSelCompartiment();">
								</select>
							</div>
							<div class="col-md-2">
								<label for="dataPrimirii" class="fw-bold">Data primirii</label><br>
								<input id="dataPrimirii" class="form-control" onchange="onChangeDataPrimirii()">
							</div>
							<div class="col-md-2">
								<button id="btnAdaugaPrimitor" type="button" class="btn btn-primary" style="margin-top:24px;" onclick="adaugaPrimitorDispozitie()">Adaugă primitor</button>
							</div>
						</div>
						<div class="row" style="margin-top:20px;">
							<div class="col-md-1"></div>
							<div class="col-md-10">
								<table id="tabelPrimitori" class="table table-bordered">
									<thead>
										<tr>
											<th>Persoana</th>
											<th>Compartimentul adresat</th>
											<th>Data primirii</th>
											<th>Acțiuni</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
							<div class="col-md-1"></div>
						</div>
						<div class="row">
							<div id="divMesajAdaugaDispozitie" class="col-md-12" style="color: red; font-weight: bold;"></div>
						</div>
					</div>
					<div class="modal-footer" style="background-color: #EEE;">
						<button id="btnSalveazaDispozitie" type="button" class="btn btn-success" onclick="salveazaDispozitie()">Salvează</button>
						<button type="button" class="btn btn-danger" onclick="inchideModalAdaugaDispozitie()">Închide</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End modal adaugare Dispozitie-->
		
		<!-- Modal incarca fisier Dispozitie-->
		<div class="modal fade" id="modalAdaugaFisierDispozitie" role="dialog" aria-labelledby="modalAdaugaFisierDispozitie">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header" style="padding: 5px; background-color: #EEE;  font-weight: bold;">
						<div id="titluModal" style="width:100%; text-align: center;">Adaugă fișier dispoziție</div>
						<button type="button" class="btn-close" style="margin-right:1px; padding:5px;" onclick="inchideModalAdaugaFisierDispozitie()"></button>
					</div>
					<form method="POST" enctype="multipart/form-data" id="formFisierDispozitie">
					<div class="modal-body">
						<div style="padding: 15px; box-shadow: 0 8px 6px -6px #eee;">
							<div class="row mb-2">
								<div class="col">
									<label class="fw-bold">Nr. dispoziție</label><br>
									<span id="divNrDispozitie2"></span>
								</div>
								<div class="col">
									<label class="fw-bold">Emitent</label><br>
									<span id="divEmitentDispozitie2"></span>
								</div>
								<div class="col">
									<label class="fw-bold">Data comunicării</label><br>
									<span id="divDataCom2"></span>
								</div>
								<!-- <div class="col-md-3">
									<label class="fw-bold">Comp./pers. adresată</label><br>
									<span id="divCompartimentul2"></span>
								</div> -->
								<div class="col">
									<label class="fw-bold">Data primirii</label><br>
									<span id="divDataPrimirii2"></span>
								</div>
								<div class="col">
									<label class="fw-bold">Stadiu</label><br>
									<span id="divStadiuDispozitie2"></span>
								</div>
							</div>
						</div>
						<div style="width: 100%; text-align: center; padding: 30px;">
							<label class="fw-bold">Alege fișierul:</label>
							<input type="file" id="fisierDispozitie" name="fisierDispozitie" style="width: 400px;"/>	
						</div>
					</div>
					</form>
					<div class="modal-footer" style="background-color: #EEE;">
						<button id="btnSalveazaDispozitie" type="button" class="btn btn-success" onclick="incarcaFisierul()">Salvează</button>
						<button type="button" class="btn btn-danger" onclick="inchideModalAdaugaFisierDispozitie()">Închide</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End modal incarca fisier Dispozitie-->
		
		<!-- Modal arata fisier Dispozitie-->
		<div class="modal fade" id="modalArataFisierDispozitie" role="dialog" aria-labelledby="modalArataFisierDispozitie" tabindex='-1'>
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header" style="padding: 5px; background-color: #EEE;  font-weight: bold;">
						<div id="titluModal" style="width:100%; text-align: center;">Fișier dispoziție</div>
						<button type="button" class="btn-close" style="margin-right:1px; padding:5px;" onclick="inchideModalArataFisierDispozitie()"></button>
					</div>
					<div class="modal-body" style="padding: 0px;">
						<iframe id="embedFisierDispozitie" class="w-100" style="height:600px;"></iframe>
					</div>
					<div class="modal-footer" style="background-color: #EEE;">
						<a id="linkBtnDescarcaFisierDispozitie" href="" ><button id="btnDescarcaFisierDispozitie" type="button" class="btn btn-success">Descarcă fișierul</button></a>
						<button type="button" class="btn btn-danger" onclick="inchideModalArataFisierDispozitie()">Închide</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End modal arata fisier Dispozitie-->
		
		<!-- Modal note-->
		<div class="modal fade" id="modalNote" role="dialog" aria-labelledby="modalNote">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header" style="padding: 5px; background-color: #EEE;  font-weight: bold;">
						<div id="titluModal" style="width:100%; text-align: center;">Notițe dispoziție</div>
						<button type="button" class="btn-close" style="margin-right:1px; padding:5px;" onclick="inchideModalNote()"></button>
					</div>
					<div class="modal-body" style="padding: 0px; max-height: 600px;">
						<div style="padding: 15px; box-shadow: 0 8px 6px -6px #eee;">
							<div class="row mb-2">
								<div class="col">
									<label class="fw-bold">Nr. dispoziție</label><br>
									<span id="divNrDispozitie1"></span>
								</div>
								<div class="col">
									<label class="fw-bold">Emitent</label><br>
									<span id="divEmitentDispozitie1"></span>
								</div>
								<div class="col">
									<label class="fw-bold">Data comunicării</label><br>
									<span id="divDataCom1"></span>
								</div>
								<div class="col">
									<label class="fw-bold">Stadiu</label><br>
									<span id="divStadiuDispozitie1"></span>
								</div>
							</div>
						</div>
						<div class="row mx-0">
							<div class="col-9">
								<div id="divNote" class="container d-flex flex-wrap px-3 py-2" style="overflow: auto; max-height: 450px;"> 
									
								</div>								
							</div>
							<div class="col-3" style="text-align: center;">
								<div class="card text-dark bg-light mb-2 mt-2 shadow" style="text-align: center;">
									<div class="card-header fw-bold">Adaugă notiță nouă</div>
									<div class="card-body">
										<textarea id="continutNota" class="form-control mb-2" style="width: 100%; height: 200px;" placeholder="Conținut notiță"></textarea>
										<button id="btnSalveazaNota" type="button" class="btn btn-light shadow" onclick="adaugaNota('registrulDispozitii')">Salvează notița</button>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					<div class="modal-footer" style="background-color: #EEE;">
						<button type="button" class="btn btn-danger" onclick="inchideModalNote()">Închide</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End modal adaugare note-->
		
	</div>
</html>
<script th:inline="javascript">
	var token = $("meta[name='_csrf']").attr("content");
	var mesajAdaugaDispozitie = "";
	var dtDispozitii = null;
	var dispozitiaCurenta = null;
	var primitoriDispozitie = [];
	var listaPersoane = [];
	var listaCompartimente = [];
	
	$(document).ready(function() {
		dispozitiaCurenta = null;
		primitoriDispozitie = [];
		console.log("Registrul dispoziții - ready!");
		$("#divTitluPagina").html("Registrul Dispoziții");
		
		<!--Activare bootstrap tooltips-->
		var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
		var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
			return new bootstrap.Tooltip(tooltipTriggerEl)
		});
			
		$(".btnMenu").removeClass("btn-primary");
		$("#menuEntryRegDispozitii").removeClass("btn-light");
		$("#menuEntryRegDispozitii").addClass("btn-primary  fw-bold");
		incarcaDtDispozitii();
	});

	function incarcaDtDispozitii(){
		DataTable.datetime('DD.MM.YYYY');
		if ($.fn.DataTable.isDataTable("#dtDispozitii")) {
			$("#dtDispozitii").DataTable().clear().destroy();
		}
		dtDispozitii = $("#dtDispozitii").DataTable({
			language: {
				url: 'https://cdn.datatables.net/plug-ins/2.3.3/i18n/ro.json',
			},
			layout: {
				topStart: {
					buttons: [
						{
							text: 'Adaugă înregistrare nouă',
							action: function (e, dt, node, config) {
								arataModalAdaugaInregDispozitie();
							}
						},
						//"excel",
						{extend: 'excelHtml5',
							title: 'DGASPC_Dispozitii_' + getTodayDate(),
							exportOptions: {
								columns: [0, 1, 2, 3, 4, 5]
							}
						},
						{extend: 'pdfHtml5',
							title: 'DGASPC_Dispozitii_' + getTodayDate(),
							orientation: 'landscape',
                    		pageSize: 'A4',
							exportOptions: {
								columns: [0, 1, 2, 3, 4, 5]
							}
                    	}
                    ]
				}
			},
			autoWidth: false,
			paging: true,
			order: false,
			lengthChange: false,
			ajax: "/registrul-dispozitii/getDispozitii",
			drawCallback:function(){
				var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
				var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
					return new bootstrap.Tooltip(tooltipTriggerEl)
				});
			},
			columns: [
				{ data: "nrDispozitie" },
				{ data: "dataDispozitie" },
				//{ data: "emitent" },
				{ data:	null, 
					render: function (data, type, row, meta) {
						return '<div style="width:100%; cursor:pointer;" onclick="editareDispozitie(' + meta.row + ')"><a href="#" class = "text-decoration-none">' + data.emitent + '</a></div>';
					}
				},
				{ data: "dataComunicarii" },
				{ data: 
					null, 
					render: function (data, type, row, meta) {
						if(data.listaPrimitori != null && data.listaPrimitori.length > 0){
							var html = '<div style="max-height:120px; overflow: auto;"><table style="width:100%; border: 1px solid grey">';
							data.listaPrimitori.forEach(function(primitor){
								html += '<tr> <td style="border: 1px solid #ccc">' + primitor.compartimentulAdresat + '</td> <td style="width:220px; border: 1px solid #ccc">' + primitor.persoanaPrimire + '</td> <td style="width:80px; border: 1px solid #ccc">' + primitor.dataPrimirii + '</td></tr>';
							});
							html += "</table></div>";
							return html;
						}else{
							return "-";
						}
					}
				},
				//{ data: "compartimentulAdresat" },
				//{ data: "persoanaPrimire"},
				//{ data: "dataPrimirii"},
				{ data: "stadiu"},
				{ data: 
					null, 
					render: function (data, type, row, meta) {
						var arataBtnArataFisier = "";
						var noteIconColor = "orange";
						if(data.totalNote != "0"){
							noteIconColor = "blue";
						}
						if(data.numeFisier != null && data.numeFisier != ""){
							arataBtnArataFisier = '<i class="fa-button bi bi-file-earmark-text" style="margin-right:15px; color:purple;" data-bs-toggle="tooltip" title="Afișează fișierul" onclick="arataModalArataFisierDispozitie(' + meta.row + ')"></i>';
						}
						return ''
						+ '<i class="fa-button bi bi-pencil-square" style="margin-right:15px; color:green;" data-bs-toggle="tooltip" title="Editare" onclick="editareDispozitie(' + meta.row + ')"></i>'
						+ '<i id="btnNote_' + data.id + '" class="fa-button bi bi-chat-left-text" style="margin-right:15px; color:' + noteIconColor + ';" data-bs-toggle="tooltip" title="Notițe" onclick="arataModalNote(' + meta.row + ')"></i>'
						+ '<i class="fa-button bi bi-file-earmark-arrow-up" style="margin-right:15px; color:purple;" data-bs-toggle="tooltip" title="Încarcă fișier" onclick="arataModalAdaugaFisierDispozitie(' + meta.row + ')"></i>'
						+ arataBtnArataFisier
						+ '<i class="fa-button bi bi-trash" style="margin-right:15px; color:red;" data-bs-toggle="tooltip" title="Șterge înregistrarea" onclick="stergeDispozitie(' + meta.row + ')"></i>';
					}
				}
			]
		});
		//adauga filtre coloane
		$("#dtDispozitii thead tr:eq(1) th").each(function(i){
			if(i < ($("#dtDispozitii thead tr:eq(1) th").length - 1)){
				var title = $("#dtDispozitii thead th").eq($(this).index()).text();
				$(this).html('<input class="filtru-coloane w-100" type="text" placeholder="' + title + '" data-index="' + i + '" />');	
			}
			if(i == $("#dtDispozitii thead tr:eq(1) th").length -1){
				$(this).html('<button id="btnResetareFiltre" type="button" class="w-100" onclick="onClickReseteazaFiltre();">Resetează</button>');
			}
		});
		
		$("#main .filtru-coloane").on("keyup", function(){
			dtDispozitii.column($(this).data('index')).search(this.value).draw();
		});
	}
	
	function onClickReseteazaFiltre(){
		//incarcaDtDispozitii();
		location.reload();
	}
	
	function arataModalAdaugaInregDispozitie(){
		dispozitiaCurenta = null;
		primitoriDispozitie = [];
		$("#tabelPrimitori").hide();
		$("#nrDispozitie").val("");
		$("#dataDispozitie").val("");
		$("#emitentDispozitie").val("");
		$("#dataCom").val("");
		$("#dataPrimirii").val("");
		$("#selStadiuDispozitie").val("În lucru").select2({
			theme: "bootstrap-5", 
			dropdownParent: $("#modalAdaugaDispozitie"), 
			minimumResultsForSearch: -1
		});
		
		$("#selCompartiment").empty();
		$("#selCompartiment").append('<option value="">Alege...</option>');
		$("#selPersoanaPrimire").empty();
		$("#selPersoanaPrimire").append('<option value="">Alege...</option>');

		$.ajax({
			url: "/note/getLov",
			type: "GET",
			success: function(response) {
				listaPersoane = response.listaPersoane;
				listaCompartimente = response.listaCompartimente;
				
				for (const c of response.listaCompartimente) {
					$("#selCompartiment").append('<option value="' + c.id + '">' + c.nume + '</option>');
				}
				$("#selCompartiment").select2({theme: "bootstrap-5", dropdownParent: $("#modalAdaugaDispozitie")});

				for (const p of response.listaPersoane) {
					$("#selPersoanaPrimire").append('<option value="' + p.id + '">' + p.nume + ' ' + p.prenume + '</option>');
				}
				$("#selPersoanaPrimire").select2({theme: "bootstrap-5", dropdownParent: $("#modalAdaugaDispozitie")});
				
				$("#modalAdaugaDispozitie").modal({backdrop: "static", keyboard: false}).modal("show");
				setTimeout(function(){
					$("#nrDispozitie").focus();
				}, 200);
			},
			error: function(response){
				handleHtmlError(response.responseText);
			}
		});
	}
	
	function inchideModalAdaugaDispozitie(){
		$("#modalAdaugaDispozitie").modal("hide");
		dispozitiaCurenta = null;
		primitoriDispozitie = [];
	}
	
	function onChangeDataDispozitie(){
		if(verificaData($("#dataDispozitie").val()) != "ok"){
			//$("#dataDispozitie").val("dd.mm.yyyy");
			$("#divMesajAdaugaDispozitie").html("Eroare!<br>Câmpul dată dispoziție trebuie să fie în formatul dd.mm.yyyy!");
			$("#btnSalveazaDispozitie").prop("disabled", true);
		}else{
			$("#divMesajAdaugaDispozitie").html("");
			$("#btnSalveazaDispozitie").prop("disabled", false);
		}
	}
	
	function onChangeDataComunicarii(){
		if(verificaData($("#dataCom").val()) != "ok"){
			//$("#dataCom").val("dd.mm.yyyy");
			$("#divMesajAdaugaDispozitie").html("Eroare!<br>Câmpul data comunicării trebuie să fie în formatul dd.mm.yyyy!");
			$("#btnSalveazaDispozitie").prop("disabled", true);
		}else{
			$("#divMesajAdaugaDispozitie").html("");
			$("#btnSalveazaDispozitie").prop("disabled", false);
		}
	}
	
	function onChangeDataPrimirii(){
		if(verificaData($("#dataPrimirii").val()) != "ok"){
			//$("#dataPrimirii").val("dd.mm.yyyy");
			$("#divMesajAdaugaDispozitie").html("Eroare!<br>Câmpul data primirii trebuie să fie în formatul dd.mm.yyyy!");
			$("#btnSalveazaDispozitie").prop("disabled", true);
		}else{
			$("#divMesajAdaugaDispozitie").html("");
			$("#btnSalveazaDispozitie").prop("disabled", false);
		}
	}

	function salveazaDispozitie(){
		var eroareValidare = false;
		var urlSalvare = "/registrul-dispozitii/postDispozitie";
		if(!$("#nrDispozitie").val()){
			eroareValidare = true;
			$("#divMesajAdaugaDispozitie").html("Completează câmpul nr. dispoziție");
			return;
		}
		if(verificaData($("#dataDispozitie").val()) != "ok"){
			eroareValidare = true;
			$("#divMesajAdaugaDispozitie").html("Completează câmpul dată dispoziție");
			return;
		}
		if(!$("#emitentDispozitie").val()){
			eroareValidare = true;
			$("#divMesajAdaugaDispozitie").html("Completează câmpul: emitent");
			return;
		}
		if(verificaData($("#dataCom").val()) != "ok"){
			eroareValidare = true;
			$("#divMesajAdaugaDispozitie").html("Completează câmpul: data comunicării");
			return;
		}
		/* if(!$("#selPersoanaPrimire").val()){
			eroareValidare = true;
			$("#divMesajAdaugaDispozitie").html("Completează câmpul: persoana primire");
			return;
		}
		if(!$("#selCompartiment").val()){
			eroareValidare = true;
			$("#divMesajAdaugaDispozitie").html("Completează câmpul: compartimentul adresat");
			return;
		}
		if(verificaData($("#dataPrimirii").val()) != "ok"){
			eroareValidare = true;
			$("#divMesajAdaugaDispozitie").html("Completează câmpul: data primirii");
			return;
		} */
		if(primitoriDispozitie == null || primitoriDispozitie.length == 0){
			if($("#selPersoanaPrimire").val() && $("#selCompartiment").val() && $("#dataPrimirii").val()){
				adaugaPrimitorDispozitie();
			}else{
				eroareValidare = true;
				$("#divMesajAdaugaDispozitie").html("Nu au fost adăugați primitori în listă!");
				return;
			}
		}
		
		
		if(!eroareValidare){
			var dispozitie = {
					"nrDispozitie": $("#nrDispozitie").val(),
					"dataDispozitie": $("#dataDispozitie").val(),
					"emitent": $("#emitentDispozitie").val(),
					"dataComunicarii": $("#dataCom").val(),
					"listaPrimitori": primitoriDispozitie,
					"stadiu": $("#selStadiuDispozitie").val(),
				};
			var resetPaging = true;
			if(dispozitiaCurenta != null && dispozitiaCurenta.id != null){
				urlSalvare = "/registrul-dispozitii/putDispozitie";
				dispozitie.id = dispozitiaCurenta.id;
				resetPaging = false;
			}
			$.ajax({
				url: urlSalvare,
				type: "POST",
				headers: {"X-CSRF-TOKEN": token},
				contentType: "application/json",
				data: JSON.stringify(dispozitie),
				success: function(response) {
					inchideModalAdaugaDispozitie();
					if(!resetPaging){
						dtDispozitii.ajax.reload(null, resetPaging);
					}else{
						location.reload();
					}
				},
				error: function(response){
					handleHtmlError(response.responseText);
				}
			});
		}else{
			alert("Formularul nu este completat corect! Datele nu pot fi salvate.");
		}
	}
	
	function editareDispozitie(rowIndex){
		dispozitiaCurenta = dtDispozitii.row(rowIndex).data();
		$("#tabelPrimitori").hide();
		$("#selCompartiment").empty();
		$("#selCompartiment").append('<option value="">Alege...</option>');
		$("#selPersoanaPrimire").empty();
		$("#selPersoanaPrimire").append('<option value="">Alege...</option>');

		$.ajax({
			url: "/note/getLov",
			type: "GET",
			success: function(response) {
				listaPersoane = response.listaPersoane;
				listaCompartimente = response.listaCompartimente;
				
				for (const c of response.listaCompartimente) {
					$("#selCompartiment").append('<option value="' + c.id + '">' + c.nume + '</option>');
				}
				$("#selCompartiment").val("").select2({theme: "bootstrap-5", dropdownParent: $("#modalAdaugaDispozitie")});

				for (const p of response.listaPersoane) {
					$("#selPersoanaPrimire").append('<option value="' + p.id + '">' + p.nume + ' ' + p.prenume + '</option>');
				}
				$("#selPersoanaPrimire").val("").select2({theme: "bootstrap-5", dropdownParent: $("#modalAdaugaDispozitie")});
				
				$("#modalAdaugaDispozitie").modal({backdrop: "static", keyboard: false}).modal("show");
				setTimeout(function(){
					$("#nrDispozitie").focus();
				}, 200);
			},
			error: function(response){
				handleHtmlError(response.responseText);
			}
		});
		$("#nrDispozitie").val(dispozitiaCurenta.nrDispozitie);
		$("#dataDispozitie").val(dispozitiaCurenta.dataDispozitie);
		$("#emitentDispozitie").val(dispozitiaCurenta.emitent);
		$("#dataCom").val(dispozitiaCurenta.dataComunicarii);
		$("#selStadiuDispozitie").val(dispozitiaCurenta.stadiu).select2({
			theme: "bootstrap-5", 
			dropdownParent: $("#modalAdaugaDispozitie"),
			minimumResultsForSearch: -1
		});
		
		if(dispozitiaCurenta.listaPrimitori != null && dispozitiaCurenta.listaPrimitori.length > 0){
			primitoriDispozitie = [];
			primitoriDispozitie = primitoriDispozitie.concat(dispozitiaCurenta.listaPrimitori);
			buildTabelPrimitori();
		}
		
		$("#modalAdaugaDispozitie").modal({backdrop: "static", keyboard: false}).modal("show");
	}
	
	function arataModalAdaugaFisierDispozitie(rowIndex){
		dispozitiaCurenta = dtDispozitii.row(rowIndex).data();
		$("#divNrDispozitie2").html(dispozitiaCurenta.nrDispozitie + " / " + dispozitiaCurenta.dataDispozitie);
		$("#divEmitentDispozitie2").html(dispozitiaCurenta.emitent);
		$("#divDataCom2").html(dispozitiaCurenta.dataComunicarii);
		//$("#divCompartimentul2").html(dispozitiaCurenta.compartimentulAdresat + " / " + dispozitiaCurenta.persoanaPrimire);
		$("#divDataPrimirii2").html(dispozitiaCurenta.dataPrimirii);
		$("#divStadiuDispozitie2").html(dispozitiaCurenta.stadiu);
		
		$("#fisierDispozitie").val("");
		$("#modalAdaugaFisierDispozitie").modal({backdrop: "static", keyboard: false}).modal("show");
	}

	function inchideModalAdaugaFisierDispozitie(){
		dispozitiaCurenta = null;
		$("#fisierDispozitie").val("");
		$("#modalAdaugaFisierDispozitie").modal("hide");
	}
	
	function incarcaFisierul(rowIndex){
		var form = $("#formFisierDispozitie")[0];
		var data = new FormData(form);
		data.append("idDispozitie", dispozitiaCurenta.id);

		$.ajax({
			url : "/registrul-dispozitii/incarcaFisier",
			headers: {"X-CSRF-TOKEN": token},
			type : "POST",
			data: data,
			enctype: "multipart/form-data",
			processData: false,  // tell jQuery not to process the data
			contentType: false,  // tell jQuery not to set contentType
			cache: false,
			success : function(data) {
				if(data == "ok"){
					inchideModalAdaugaFisierDispozitie();
					dtDispozitii.ajax.reload(null, false);
					//incarcaDtDispozitii();
				}
			},
			error: function(response) {
				alert(response.status);
				handleHtmlError(response.responseText);
			}
		});
	}
	
	function arataModalNote(rowIndex){
		dispozitiaCurenta = dtDispozitii.row(rowIndex).data();
		$("#divNrDispozitie1").html(dispozitiaCurenta.nrDispozitie + " / " + dispozitiaCurenta.dataDispozitie);
		$("#divEmitentDispozitie1").html(dispozitiaCurenta.emitent);
		$("#divDataCom1").html(dispozitiaCurenta.dataComunicarii);
		$("#divStadiuDispozitie1").html(dispozitiaCurenta.stadiu);
		
		incarcaNote(dispozitiaCurenta.id, "registrulDispozitii");
	}
	
	function inchideModalNote(){
		$("#divNote").html("");
		$("#continutNota").val("");
		$("#modalNote").modal("hide");
		if(totalNotePozitiaCurenta != null && totalNotePozitiaCurenta > 0){
			$("#btnNote_" + dispozitiaCurenta.id).css("color", "blue");
		}else{
			$("#btnNote_" + dispozitiaCurenta.id).css("color", "orange");
		}
		dispozitiaCurenta = null;
	}

	function stergeDispozitie(rowIndex){
		dispozitiaCurenta = dtDispozitii.row(rowIndex).data();
		bootbox.confirm({
			size: "large",
			title: "Șterg?",
			message: "Sunteți sigur că doriți ștergerea dispoziției nr. " + dispozitiaCurenta.nrDispozitie + " / " + dispozitiaCurenta.dataDispozitie + " ?",
			buttons: {
				confirm: {
					label: 'Da',
					className: 'btn-success'
				},
				cancel: {
					label: '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nu &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
					className: 'btn-danger'
				}
			},
			swapButtonOrder: true,
			callback: function(confirmare){
				if(confirmare){
					$.ajax({
						url: "/registrul-dispozitii/stergeDispozitie",
						type: "POST",
						headers: {"X-CSRF-TOKEN": token},
						contentType: "application/json",
						data: dispozitiaCurenta.id,
						success: function(response) {
							if(response == "ok"){
								dtDispozitii.ajax.reload(null, false);
							}else{
								alert("Ștergerea nu a fost efectuată! Eroare de aplicație.");
							}
							dispozitiaCurenta = null;
						},
						error: function(response){
							handleHtmlError(response.responseText);
							dispozitiaCurenta = null;
						}
					});
				}
			}
		});
	}
	
	function arataModalArataFisierDispozitie(rowIndex){
		dispozitiaCurenta = dtDispozitii.row(rowIndex).data();
		$("#embedFisierDispozitie").attr("src", "/registrul-dispozitii/arataFisier/"+dispozitiaCurenta.id);
		$("#linkBtnDescarcaFisierDispozitie").attr("href", "/registrul-dispozitii/downloadFisier/"+dispozitiaCurenta.id);
		
		$("#modalArataFisierDispozitie").modal("show");
	}
	
	function inchideModalArataFisierDispozitie(){
		$("#modalArataFisierDispozitie").modal("hide");
		dispozitiaCurenta = null;
	}
	
	function adaugaPrimitorDispozitie(){
		if($("#selCompartiment").val() && $("#selPersoanaPrimire").val() && $("#dataPrimirii").val()){
			primitor = {
				"idCompartiment": $("#selCompartiment").val(),
				"compartimentulAdresat": $('#selCompartiment').select2("data")[0].text,
				"idPersoanaPrimire": $("#selPersoanaPrimire").val(),
				"persoanaPrimire": $('#selPersoanaPrimire').select2("data")[0].text,
				"dataPrimirii": $("#dataPrimirii").val()
			}
			primitoriDispozitie.push(primitor);
			buildTabelPrimitori();
		}else{
			bootbox.alert("Nu ați completat toate datele pentru primitor!");
		}
	}
	
	function buildTabelPrimitori(){
		$("#tabelPrimitori tbody").empty();
		if(primitoriDispozitie != null && primitoriDispozitie.length > 0){
			$("#tabelPrimitori").show();
			primitoriDispozitie.forEach(function(p, index){
				$("#tabelPrimitori tbody").append('<tr><td>' + p.persoanaPrimire + '</td><td>' + p.compartimentulAdresat + '</td><td>' + p.dataPrimirii + '</td> <td style="text-align:center;"><button class="btn btn-sm btn-danger" onclick="stergePrimitor(' + index + ')">Șterge</button></td></tr>');
			});
		}
	}
	
	function stergePrimitor(index){
		if(primitoriDispozitie != null && primitoriDispozitie.length > 0){
			primitoriDispozitie.splice(index, 1);
			buildTabelPrimitori();
		}
	}
	
	function onChangeSelPersoanaPrimire(){
		if($("#selPersoanaPrimire").val()){
			console.log("debug1 " + $("#selPersoanaPrimire").val());
			var persoana = null;
			listaPersoane.forEach(function(p){
				if(p.id == $("#selPersoanaPrimire").val()){
					persoana = p;
				}
			});
			$("#selCompartiment").val(persoana.idCompartiment).select2({theme: "bootstrap-5", dropdownParent: $("#modalAdaugaDispozitie")});
		}
	}
	
	
</script>