<!doctype html>
<html layout:decorate="template" lang="en" data-bs-theme="light">
	<div id="main" layout:fragment="content">
		<div class="container pt-3">
			<div class="row">
				<div class="col">
					<div class="rounded shadow py-2" style="position: relative; height: 50px;">
						<div class="w-100 text-center" style="position: absolute; ">
							<h3>Registrul hotărâri CJC</h3>
						</div>
						<div class="pe-2" style="width: 100%; position: absolute; text-align: right;">
							<button type="button" class="btn btn-primary" onclick="postData();">Adaugă înregistrare nouă</button>
						</div>
					</div> 
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="rounded shadow py-2 px-2 mt-4">
						<div class="row">
							<div class="col">
								<table id="dtExample" class="hover" style="width: 100%;">
									<thead>
										<tr>
											<th>Nr. / Data</th>
											<th>Emitent</th>
											<th>Data comunicării</th>
											<th>Compartimentul adresat</th>
											<th>Persoana care a primit-o</th>
											<th>Data primirii</th>
											<th>Rezolvat</th>
											<th>Fișier</th>
											<th>10</th>
											<th>11</th>
										</tr>
									</thead>
									<tbod>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>
<script>
	var token = $("meta[name='_csrf']").attr("content");
	
	$(document).ready(function() {
		console.log("ready!");
		incarcaDtExample();
	});
	function incarcaDtExample(){
		$("#dtExample").DataTable({
			language: {
				url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/ro.json"
			},
			paging: true,
			lengthChange: false,
			ajax: "/getUserData",
			columns: [
			        { data: "id" },
			        { data: "username" },
			        { data: "firstName" },
			        { data: "lastName" },
			        { data: "registrationDate" },
					{ data: "authorities"},
					{ data: "enabled"},
					{ data: "accountNonLocked"},
					{ data: "accountNonExpired"},
					{ data: "credentialsNonExpired"},
			]
		});
	}
	
	function postData(){
		var dataModel = {
				"id":"1", 
				"username":"myuser"
			};
	
		$.ajax({
			url: "/postData",
			type: "POST",
			headers: {"X-CSRF-TOKEN": token},
			contentType: "application/json",
			data: JSON.stringify(dataModel),
			success: function(response) {
				
			},
			error: function(response){
				alert("Eroare!");
			}
		});
	}
</script>