<!doctype html>
<html layout:decorate="template" lang="en" data-bs-theme="light">
	<div id="main" layout:fragment="content">
		<div class="row">
			<div class="col">
				<div class="rounded  py-2 px-2">
					<div class="row">
						<div class="col">
							<table id="dtHotarariCJC" class="display" style="width: 100%;">
								<thead>
									<tr>
										<th style="width:100px; background-color: #ccc;">Nr.</th>
										<th style="width:100px; background-color: #ccc;">Data</th>
										<th style="background-color: #ccc;">Emitent</th>
										<th style="width:100px; background-color: #ccc;">Data comunicării</th>
										<th style="background-color: #ccc;">Compartimentul adresat</th>
										<th style="background-color: #ccc;">Persoana care a primit-o</th>
										<th style="width:100px; background-color: #ccc;">Data primirii</th>
										<th style="width:100px; background-color: #ccc;">Stadiu</th>
										<th style="width:190px; background-color: #ccc;">Operații</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
								<tfoot>
									<tr>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Modal handle HTML Error -->
		<div class="modal fade" id="modalHandleHtmlError" role="dialog" aria-labelledby="modalHandleHtmlError">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header" style="padding: 5px; background-color: #F00;  font-weight: bold; color:#FFF;">
						<div id="titluModal" style="width:100%; text-align: center;">Eroare de aplicatie!</div>
					</div>
					<div class="modal-body">
						<span style="font-weight: bold; margin-bottom: 20px;">Vă rugăm să transmiteți această eroare administratorului IT</span>
						<button class="btn btn-sm btn-success" style="margin-left: 20px;" onclick="copiazaEroarea()"> Copiază eroarea (similar CTRL+C) </button>
						<br>
						<div id="divEroareHtml" style="max-height: 400px; overflow: auto; margin-top:20px; padding-left: 30px; padding-right: 30px; background-color: #EEE;"></div>
					</div>
					<div class="modal-footer" style="background-color: #EEE;">
						<button type="button" class="btn btn-danger" onclick="inchideModalHandleHtmlError()">Închide</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End modal incarca fisier hotarareCJC-->
		
		<!-- Modal adaugare hotarareCJC-->
		<div class="modal fade" id="modalAdaugaHotarareCJC" role="dialog" aria-labelledby="modalAdaugaHotarareCJC">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header" style="padding: 5px; background-color: #EEE;  font-weight: bold;">
						<div id="titluModal" style="width:100%; text-align: center;">Adaugă o hotărâre CJC</div>
					</div>
					<div class="modal-body">
						<div class="row mb-2">
							<div class="col-md-2">
								<label for="nrHotarare" class="fw-bold">Nr. hotărare</label><br>
								<input id="nrHotarare" class="form-control">
							</div>
							<div class="col-md-2">
								<label for="dataHotarare" class="fw-bold">Dată hotărare</label><br>
								<input id="dataHotarare" class="form-control" onchange="onChangeDataHotarare()">
							</div>
							<div class="col-md-8">
								<label for="emitentHotarare" class="fw-bold">Emitent</label><br>
								<input id="emitentHotarare" class="form-control">
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<label for="dataCom" class="fw-bold">Data comunicării</label><br>
								<input id="dataCom" class="form-control" onchange="onChangeDataComunicarii()">
							</div>
							<div class="col-md-3">
								<label for="selCompartiment" class="fw-bold">Compartimentul adresat</label><br>
								<select id="selCompartiment" class="w-100">
								</select>
							</div>
							<div class="col-md-3">
								<label for="selPersoanaPrimire" class="fw-bold">Persoana care a primit-o</label><br>
								<select id="selPersoanaPrimire" class="w-100">
								</select>
							</div>
							<div class="col-md-2">
								<label for="dataPrimirii" class="fw-bold">Data primirii</label><br>
								<input id="dataPrimirii" class="form-control" onchange="onChangeDataPrimirii()">
							</div>
							<div class="col-md-2">
								<label for="selStadiuHotarare" class="fw-bold">Stadiu</label><br>
								<select id="selStadiuHotarare" class="w-100">
									<option value="În lucru" selected>În lucru</option>
									<option value="Rezolvată">Rezolvată</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div id="divMesajAdaugaHotarare" class="col-md-12" style="color: red; font-weight: bold;"></div>
						</div>
					</div>
					<div class="modal-footer" style="background-color: #EEE;">
						<button id="btnSalveazaHotarare" type="button" class="btn btn-success" onclick="salveazaHotarareCJC()">Salvează</button>
						<button type="button" class="btn btn-danger" onclick="inchideModalAdaugaHCJC()">Închide</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End modal adaugare hotarareCJC-->
		
		<!-- Modal incarca fisier hotarareCJC-->
		<div class="modal fade" id="modalAdaugaFisierHotarareCJC" role="dialog" aria-labelledby="modalAdaugaFisierHotarareCJC">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header" style="padding: 5px; background-color: #EEE;  font-weight: bold;">
						<div id="titluModal" style="width:100%; text-align: center;">Adaugă fișier hotărâre CJC</div>
					</div>
					<form method="POST" enctype="multipart/form-data" id="formFisierHotarareCJC">
					<div class="modal-body">
						<div style="padding: 15px; box-shadow: 0 8px 6px -6px #eee;">
							<div class="row mb-2">
								<div class="col">
									<label class="fw-bold">Nr. hotărare</label><br>
									<span id="divNrHotarare2"></span>
								</div>
								<div class="col">
									<label class="fw-bold">Emitent</label><br>
									<span id="divEmitentHotarare2"></span>
								</div>
								<div class="col">
									<label class="fw-bold">Data comunicării</label><br>
									<span id="divDataCom2"></span>
								</div>
								<div class="col-md-3">
									<label class="fw-bold">Comp./pers. adresată</label><br>
									<span id="divCompartimentul2"></span>
								</div>
								<div class="col">
									<label class="fw-bold">Data primirii</label><br>
									<span id="divDataPrimirii2"></span>
								</div>
								<div class="col">
									<label class="fw-bold">Stadiu</label><br>
									<span id="divStadiuHotarare2"></span>
								</div>
							</div>
						</div>
						<div style="width: 100%; text-align: center; padding: 30px;">
							<label class="fw-bold">Alege fișierul:</label>
							<input type="file" id="fisierHotarareCJC" name="fisierHotarareCJC" style="width: 400px;"/>	
						</div>
					</div>
					</form>
					<div class="modal-footer" style="background-color: #EEE;">
						<button id="btnSalveazaHotarare" type="button" class="btn btn-success" onclick="incarcaFisierul()">Salvează</button>
						<button type="button" class="btn btn-danger" onclick="inchideModalAdaugaFisierHCJC()">Închide</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End modal incarca fisier hotarareCJC-->
		
		<!-- Modal arata fisier hotarareCJC-->
		<div class="modal fade" id="modalArataFisierHCJC" role="dialog" aria-labelledby="modalArataFisierHCJC">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header" style="padding: 5px; background-color: #EEE;  font-weight: bold;">
						<div id="titluModal" style="width:100%; text-align: center;">Fișier hotărâre CJC</div>
					</div>
					<div class="modal-body" style="padding: 0px;">
						<iframe id="embedFisierHCJC" class="w-100" style="height:600px;"></iframe>
					</div>
					<div class="modal-footer" style="background-color: #EEE;">
						<a id="linkBtnDescarcaFisierHCJC" href="" ><button id="btnDescarcaFisierHCJC" type="button" class="btn btn-success">Descarcă fișierul</button></a>
						<button type="button" class="btn btn-danger" onclick="inchideModalArataFisierHCJC()">Închide</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End modal arata fisier hotarareCJC-->
		
		<!-- Modal adaugare hotarareCJC-->
		<div class="modal fade" id="modalNote" role="dialog" aria-labelledby="modalNote">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header" style="padding: 5px; background-color: #EEE;  font-weight: bold;">
						<div id="titluModal" style="width:100%; text-align: center;">Notițe hotărâre CJC</div>
					</div>
					<div class="modal-body" style="padding: 0px; max-height: 600px;">
						<div style="padding: 15px; box-shadow: 0 8px 6px -6px #eee;">
							<div class="row mb-2">
								<div class="col">
									<label class="fw-bold">Nr. hotărare</label><br>
									<span id="divNrHotarare1"></span>
								</div>
								<div class="col">
									<label class="fw-bold">Emitent</label><br>
									<span id="divEmitentHotarare1"></span>
								</div>
								<div class="col">
									<label class="fw-bold">Data comunicării</label><br>
									<span id="divDataCom1"></span>
								</div>
								<div class="col-md-3">
									<label class="fw-bold">Comp./pers. adresată</label><br>
									<span id="divCompartimentul1"></span>
								</div>
								<div class="col">
									<label class="fw-bold">Data primirii</label><br>
									<span id="divDataPrimirii1"></span>
								</div>
								<div class="col">
									<label class="fw-bold">Stadiu</label><br>
									<span id="divStadiuHotarare1"></span>
								</div>
							</div>
						</div>
						<div class="row mx-0">
							<div class="col-9">
								<div id="divNote" class="container d-flex flex-wrap px-3 py-2" style="overflow: auto; max-height: 450px;"> 
									
								</div>								
							</div>
							<div class="col-3" style="text-align: center;">
								<div class="card text-dark bg-light mb-2 mt-2 shadow" style="text-align: center;">
									<div class="card-header fw-bold">Adaugă notiță nouă</div>
									<div class="card-body">
										<textarea id="continutNota" class="form-control mb-2" style="width: 100%; height: 200px;" placeholder="Conținut notiță"></textarea>
										<button id="btnSalveazaNota" type="button" class="btn btn-light shadow" onclick="adaugaNota()">Salvează notița</button>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					<div class="modal-footer" style="background-color: #EEE;">
						<button type="button" class="btn btn-danger" onclick="inchideModalNote()">Închide</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End modal adaugare hotarareCJC-->
		
	</div>
</html>
<script th:inline="javascript">
	var token = $("meta[name='_csrf']").attr("content");
	var mesajAdaugaHotarare = "";
	var dtHotarariCJC = null;
	var hotarareaCurenta = null;
	
	$(document).ready(function() {
		console.log("Registul hotarari CJC - ready!");
		$("#divTitluPagina").html("Registrul Hotărâri CJC");
		
		<!--Activare bootstrap tooltips-->
		var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
		var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
			return new bootstrap.Tooltip(tooltipTriggerEl)
		});
			
		$(".btnMenu").removeClass("btn-primary");
		$("#menuEntryRegHotCJC").removeClass("btn-light");
		$("#menuEntryRegHotCJC").addClass("btn-primary");
		incarcaDtHotarariCJC();
	});
	
	function handleHtmlError(htmlError){
		$(".modal").modal("hide");
		$("#divEroareHtml").html(htmlError);
		$("#modalHandleHtmlError").modal({backdrop: "static", keyboard: false}).modal("show");
	}
	
	function inchideModalHandleHtmlError(){
		$("#divEroareHtml").html("");
		$("#modalHandleHtmlError").modal("hide");
		window.location.reload();
	}
	
	function copiazaEroarea(){
		navigator.clipboard.writeText($("#divEroareHtml").html()).then(function () {
		    alert("Textul a fost copiat. Poti folosi CTRL+V")
		}, function () {
		    alert("Textul nu a putut fi copiat. Trebuie selectat si copiat manual.")
		});
	}
	
	function incarcaDtHotarariCJC(){
		if ($.fn.DataTable.isDataTable("#dtHotarariCJC")) {
			$("#dtHotarariCJC").DataTable().clear().destroy();
		}
		dtHotarariCJC = $("#dtHotarariCJC").DataTable({
			language: {
				url: 'https://cdn.datatables.net/plug-ins/2.3.3/i18n/ro.json',
			},
			layout: {
				topStart: {
					buttons: [
						{
							text: 'Adaugă înregistrare nouă',
							action: function (e, dt, node, config) {
								arataModalAdaugaInregHCJC();
							}
						},
						//"excel",
						{extend: 'excelHtml5',
							title: 'DGASPC_Hotarari_CJC_' + getTodayDate(),
							exportOptions: {
								columns: [0, 1, 2, 3, 4, 5, 6, 7]
							}
						},
						{extend: 'pdfHtml5',
							title: 'DGASPC_Hotarari_CJC_' + getTodayDate(),
							orientation: 'landscape',
                    		pageSize: 'A4',
							exportOptions: {
								columns: [0, 1, 2, 3, 4, 5, 6, 7]
							}
                    	}
                    ]
				}
			},
			autoWidth: false,
			paging: true,
			order: false,
			lengthChange: false,
			ajax: "/hotarariCJC/getHotarariCJC",
			drawCallback:function(){
				var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
				var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
					return new bootstrap.Tooltip(tooltipTriggerEl)
				});
			},
			columns: [
			        { data: "nrHotarare" },
			        { data: "dataHotarare" },
			        { data: "emitent" },
			        { data: "dataComunicarii" },
			        { data: "compartimentulAdresat" },
					{ data: "persoanaPrimire"},
					{ data: "dataPrimirii"},
					{ data: "stadiu"},
					{ data: 
						null, 
						render: function (data, type, row, meta) {
							var arataBtnArataFisier = "";
							if(data.numeFisier != null && data.numeFisier != ""){
								arataBtnArataFisier = '<i class="fa-button bi bi-file-earmark-text" style="margin-right:15px; color:purple;" data-bs-toggle="tooltip" title="Afișează fișierul" onclick="arataModalArataFisierHCJC(' + meta.row + ')"></i>';
							}
							return ''
							+ '<i class="fa-button bi bi-pencil-square" style="margin-right:15px; color:green;" data-bs-toggle="tooltip" title="Editare" onclick="editareHotarareCJC(' + meta.row + ')"></i>'
							+ '<i class="fa-button bi bi-chat-left-text" style="margin-right:15px; color:orange;" data-bs-toggle="tooltip" title="Notițe" onclick="arataModalNote(' + meta.row + ')"></i>'
							+ '<i class="fa-button bi bi-file-earmark-arrow-up" style="margin-right:15px; color:purple;" data-bs-toggle="tooltip" title="Încarcă fișier" onclick="arataModalAdaugaFisierHCJC(' + meta.row + ')"></i>'
							+ arataBtnArataFisier
							+ '<i class="fa-button bi bi-trash" style="margin-right:15px; color:red;" data-bs-toggle="tooltip" title="Șterge înregistrarea" onclick="stergeHotarareCJC(' + meta.row + ')"></i>';
						}
					}
			]
		});
		//dtHotarariCJC.columns.adjust().draw();
		//setTimeout(function(){dtHotarariCJC.columns.adjust().draw();}, 1000);
		//adauga filtre coloane
		$("#dtHotarariCJC tfoot th").each(function (i) {
			if(i < ($("#dtHotarariCJC tfoot th").length - 1)){
				var title = $("#dtHotarariCJC thead th").eq($(this).index()).text();
				$(this).html('<input class="form-control" type="text" placeholder="' + title + '" data-index="' + i + '" />');	
			}
		});
		$("#dtHotarariCJC").on("keyup", "tfoot input",function () {
			dtHotarariCJC.column($(this).data('index')).search(this.value).draw();
		});
	}
	
	function arataModalAdaugaInregHCJC(){
		$("#nrHotarare").val("");
		$("#dataHotarare").val("");
		$("#emitentHotarare").val("");
		$("#dataCom").val("");
		$("#dataPrimirii").val("");
		$("#selStadiuHotarare").val("În lucru").select2({
			theme: "bootstrap-5", 
			dropdownParent: $("#modalAdaugaHotarareCJC"), 
			minimumResultsForSearch: -1
		});
		
		$("#selCompartiment").empty();
		$("#selCompartiment").append('<option value="">Alege...</option>');
		$("#selPersoanaPrimire").empty();
		$("#selPersoanaPrimire").append('<option value="">Alege...</option>');

		$.ajax({
			url: "/note/getLov",
			type: "GET",
			success: function(response) {
				for (const c of response.listaCompartimente) {
					$("#selCompartiment").append('<option value="' + c.id + '">' + c.nume + '</option>');
				}
				$("#selCompartiment").select2({theme: "bootstrap-5", dropdownParent: $("#modalAdaugaHotarareCJC")});

				for (const p of response.listaPersoane) {
					$("#selPersoanaPrimire").append('<option value="' + p.id + '">' + p.nume + ' ' + p.prenume + '</option>');
				}
				$("#selPersoanaPrimire").select2({theme: "bootstrap-5", dropdownParent: $("#modalAdaugaHotarareCJC")});
				
				$("#modalAdaugaHotarareCJC").modal({backdrop: "static", keyboard: false}).modal("show");
				setTimeout(function(){
					$("#nrHotarare").focus();
				}, 200);
			},
			error: function(response){
				handleHtmlError(response.responseText);
			}
		});
	}
	
	function inchideModalAdaugaHCJC(){
		$("#modalAdaugaHotarareCJC").modal("hide");
	}
	
	function verificaData(dataInput){
		var dateArray = dataInput.split(".");
		var ziuaOk = false;
		var lunaOk = false;
		var anulOk = false;
		if(dateArray.length == 3){
			if(parseInt(dateArray[0]) > 0 && parseInt(dateArray[0]) <= 31){
				ziuaOk = true;
			}
			if(parseInt(dateArray[1]) > 0 && parseInt(dateArray[1]) <= 12){
				lunaOk = true;
			}
			if(dateArray[2].length == 4 && parseInt(dateArray[2]) > 1900 && parseInt(dateArray[2]) <= 2199){
				anulOk = true;
			}
		}else{
			return "notok";
		}
		
		if(!ziuaOk || !lunaOk || !anulOk){
			return "notok";
		}else{
			return "ok";
		}
	}
	
	function onChangeDataHotarare(){
		if(verificaData($("#dataHotarare").val()) != "ok"){
			//$("#dataHotarare").val("dd.mm.yyyy");
			$("#divMesajAdaugaHotarare").html("Eroare!<br>Câmpul dată hotărâre trebuie să fie în formatul dd.mm.yyyy!");
			$("#btnSalveazaHotarare").prop("disabled", true);
		}else{
			$("#divMesajAdaugaHotarare").html("");
			$("#btnSalveazaHotarare").prop("disabled", false);
		}
	}
	
	function onChangeDataComunicarii(){
		if(verificaData($("#dataCom").val()) != "ok"){
			//$("#dataCom").val("dd.mm.yyyy");
			$("#divMesajAdaugaHotarare").html("Eroare!<br>Câmpul data comunicării trebuie să fie în formatul dd.mm.yyyy!");
			$("#btnSalveazaHotarare").prop("disabled", true);
		}else{
			$("#divMesajAdaugaHotarare").html("");
			$("#btnSalveazaHotarare").prop("disabled", false);
		}
	}
	
	function onChangeDataPrimirii(){
		if(verificaData($("#dataPrimirii").val()) != "ok"){
			//$("#dataPrimirii").val("dd.mm.yyyy");
			$("#divMesajAdaugaHotarare").html("Eroare!<br>Câmpul data primirii trebuie să fie în formatul dd.mm.yyyy!");
			$("#btnSalveazaHotarare").prop("disabled", true);
		}else{
			$("#divMesajAdaugaHotarare").html("");
			$("#btnSalveazaHotarare").prop("disabled", false);
		}
	}

	function salveazaHotarareCJC(){
		var eroareValidare = false;
		var urlSalvare = "/hotarariCJC/postHotarareCJC";
		if(!$("#nrHotarare").val()){
			eroareValidare = true;
			$("#divMesajAdaugaHotarare").html("Completează câmpul nr. hotărâre");
			return;
		}
		if(verificaData($("#dataHotarare").val()) != "ok"){
			eroareValidare = true;
			$("#divMesajAdaugaHotarare").html("Completează câmpul dată hotărâre");
			return;
		}
		if(!$("#emitentHotarare").val()){
			eroareValidare = true;
			$("#divMesajAdaugaHotarare").html("Completează câmpul emitent");
			return;
		}
		if(verificaData($("#dataCom").val()) != "ok"){
			eroareValidare = true;
			$("#divMesajAdaugaHotarare").html("Completează câmpul data comunicării");
			return;
		}
		if(!$("#selCompartiment").val()){
			eroareValidare = true;
			$("#divMesajAdaugaHotarare").html("Completează câmpul compartimentul adresat");
			return;
		}
		if(!$("#selPersoanaPrimire").val()){
			eroareValidare = true;
			$("#divMesajAdaugaHotarare").html("Completează câmpul persoana primire");
			return;
		}
		if(verificaData($("#dataPrimirii").val()) != "ok"){
			eroareValidare = true;
			$("#divMesajAdaugaHotarare").html("Completează câmpul data primirii");
			return;
		}
		if(!eroareValidare){
			var hotarareCJC = {
					"nrHotarare": $("#nrHotarare").val(),
					"dataHotarare": $("#dataHotarare").val(),
					"emitent": $("#emitentHotarare").val(),
					"dataComunicarii": $("#dataCom").val(),
					"idCompartiment": $("#selCompartiment").val(),
					"compartimentulAdresat": $('#selCompartiment').select2("data")[0].text,
					"idPersoanaPrimire": $("#selPersoanaPrimire").val(),
					"persoanaPrimire": $('#selPersoanaPrimire').select2("data")[0].text,
					"dataPrimirii": $("#dataPrimirii").val(),
					"stadiu": $("#selStadiuHotarare").val(),
				};
			var resetPaging = true;
			if(hotarareaCurenta != null && hotarareaCurenta.id != null){
				urlSalvare = "/hotarariCJC/putHotarareCJC";
				hotarareCJC.id = hotarareaCurenta.id;
				resetPaging = false;
			}
			$.ajax({
				url: urlSalvare,
				type: "POST",
				headers: {"X-CSRF-TOKEN": token},
				contentType: "application/json",
				data: JSON.stringify(hotarareCJC),
				success: function(response) {
					inchideModalAdaugaHCJC();
					//incarcaDtHotarariCJC();
					dtHotarariCJC.ajax.reload(null, resetPaging);
				},
				error: function(response){
					handleHtmlError(response.responseText);
				}
			});
		}else{
			alert("Formularul nu este completat corect! Datele nu pot fi salvate.");
		}
	}
	
	function editareHotarareCJC(rowIndex){
		hotarareaCurenta = dtHotarariCJC.row(rowIndex).data();
		$("#selCompartiment").empty();
		$("#selCompartiment").append('<option value="">Alege...</option>');
		$("#selPersoanaPrimire").empty();
		$("#selPersoanaPrimire").append('<option value="">Alege...</option>');

		$.ajax({
			url: "/note/getLov",
			type: "GET",
			success: function(response) {
				for (const c of response.listaCompartimente) {
					$("#selCompartiment").append('<option value="' + c.id + '">' + c.nume + '</option>');
				}
				$("#selCompartiment").val(hotarareaCurenta.idCompartiment).select2({theme: "bootstrap-5", dropdownParent: $("#modalAdaugaHotarareCJC")});

				for (const p of response.listaPersoane) {
					$("#selPersoanaPrimire").append('<option value="' + p.id + '">' + p.nume + ' ' + p.prenume + '</option>');
				}
				$("#selPersoanaPrimire").val(hotarareaCurenta.idPersoanaPrimire).select2({theme: "bootstrap-5", dropdownParent: $("#modalAdaugaHotarareCJC")});
				
				$("#modalAdaugaHotarareCJC").modal({backdrop: "static", keyboard: false}).modal("show");
				setTimeout(function(){
					$("#nrHotarare").focus();
				}, 200);
			},
			error: function(response){
				handleHtmlError(response.responseText);
			}
		});
		$("#nrHotarare").val(hotarareaCurenta.nrHotarare);
		$("#dataHotarare").val(hotarareaCurenta.dataHotarare);
		$("#emitentHotarare").val(hotarareaCurenta.emitent);
		$("#dataCom").val(hotarareaCurenta.dataComunicarii);
		$("#dataPrimirii").val(hotarareaCurenta.dataPrimirii);
		$("#selStadiuHotarare").val(hotarareaCurenta.stadiu).select2({
			theme: "bootstrap-5", 
			dropdownParent: $("#modalAdaugaHotarareCJC"),
			minimumResultsForSearch: -1
		});
		
		$("#modalAdaugaHotarareCJC").modal({backdrop: "static", keyboard: false}).modal("show");
	}
	
	function arataModalAdaugaFisierHCJC(rowIndex){
		hotarareaCurenta = dtHotarariCJC.row(rowIndex).data();
		$("#divNrHotarare2").html(hotarareaCurenta.nrHotarare + " / " + hotarareaCurenta.dataHotarare);
		$("#divEmitentHotarare2").html(hotarareaCurenta.emitent);
		$("#divDataCom2").html(hotarareaCurenta.dataComunicarii);
		$("#divCompartimentul2").html(hotarareaCurenta.compartimentulAdresat + " / " + hotarareaCurenta.persoanaPrimire);
		$("#divDataPrimirii2").html(hotarareaCurenta.dataPrimirii);
		$("#divStadiuHotarare2").html(hotarareaCurenta.stadiu);
		
		$("#fisierHotarareCJC").val("");
		$("#modalAdaugaFisierHotarareCJC").modal({backdrop: "static", keyboard: false}).modal("show");
	}

	function inchideModalAdaugaFisierHCJC(){
		$("#fisierHotarareCJC").val("");
		$("#modalAdaugaFisierHotarareCJC").modal("hide");
	}
	
	function incarcaFisierul(rowIndex){
		console.log("debug incarcaFisierul");
		var form = $("#formFisierHotarareCJC")[0];
		var data = new FormData(form);
		data.append("idHotarare", hotarareaCurenta.id);

		$.ajax({
			url : "/hotarariCJC/incarcaFisier",
			headers: {"X-CSRF-TOKEN": token},
			type : "POST",
			data: data,
			enctype: "multipart/form-data",
			processData: false,  // tell jQuery not to process the data
			contentType: false,  // tell jQuery not to set contentType
			cache: false,
			success : function(data) {
				console.log(data);
				if(data == "ok"){
					inchideModalAdaugaFisierHCJC();
					dtHotarariCJC.ajax.reload(null, false);
					//incarcaDtHotarariCJC();
				}
			},
			error: function(eroare) {
				handleHtmlError(response.responseText);
			}
		});
	}
	
	function arataModalNote(rowIndex){
		hotarareaCurenta = dtHotarariCJC.row(rowIndex).data();
		$("#divNrHotarare1").html(hotarareaCurenta.nrHotarare + " / " + hotarareaCurenta.dataHotarare);
		$("#divEmitentHotarare1").html(hotarareaCurenta.emitent);
		$("#divDataCom1").html(hotarareaCurenta.dataComunicarii);
		$("#divCompartimentul1").html(hotarareaCurenta.compartimentulAdresat + " / " + hotarareaCurenta.persoanaPrimire);
		$("#divDataPrimirii1").html(hotarareaCurenta.dataPrimirii);
		$("#divStadiuHotarare1").html(hotarareaCurenta.stadiu);
		
		incarcaNote(hotarareaCurenta.id, "registrulHCJC");
	}
	
	function incarcaNote(id, entitate){
		$.ajax({
			url: "/note/getNote?id=" + id + "&entitate=" + entitate,
			type: "GET",
			success: function(response) {
				var htmlNote = "";
				for (const nota of response) {
					htmlNote += '<div class="card text-dark bg-light mb-3 shadow" style="max-width: 18rem; margin-right: 20px;">'
						+ '<div class="card-header fw-bold ">' + nota.data + ' ' + nota.persoana.prenume + ' ' + nota.persoana.nume + ':</div>'
						+ '<div class="card-body">'
						+	'<p class="card-text">' + nota.text + '</p>'
						+ '</div>'
					+'</div>';
				}
				
				$("#divNote").html(htmlNote);
				$("#modalNote").modal({backdrop: "static", keyboard: false}).modal("show");
			},
			error: function(response){
				handleHtmlError(response.responseText);
			}
		});
	}
	
	function inchideModalNote(){
		$("#divNote").html("");
		$("#continutNota").val("");
		$("#modalNote").modal("hide");
		hotarareaCurenta = null;
	}
	
	function adaugaNota(){
		if($("#continutNota").val()){
			var nota = {
					"idEntitate": hotarareaCurenta.id,
					"entitate": "registrulHCJC",
					"text": $("#continutNota").val(),
				};
			$.ajax({
				url: "/note/postNota",
				type: "POST",
				headers: {"X-CSRF-TOKEN": token},
				contentType: "application/json",
				data: JSON.stringify(nota),
				success: function(response) {
					if(response == "ok"){
						$("#continutNota").val("");
						incarcaNote(hotarareaCurenta.id, "registrulHCJC");
					}else{
						alert("Nota nu a fost salvata! Eroare de aplicatie.");
					}
				},
				error: function(response){
					handleHtmlError(response.responseText);
				}
			});
		}else{
			alert("Completați conținutul! Nota nu a fost salvată.");
		}
	}
	
	function stergeHotarareCJC(rowIndex){
		hotarareaCurenta = dtHotarariCJC.row(rowIndex).data();
		bootbox.confirm({
			size: "large",
			title: "Șterg?",
			message: "Sunteți sigur că doriți ștergerea hotărârii nr. " + hotarareaCurenta.nrHotarare + " / " + hotarareaCurenta.dataHotarare + " ?",
			buttons: {
				confirm: {
					label: 'Da',
					className: 'btn-success'
				},
				cancel: {
					label: '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nu &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
					className: 'btn-danger'
				}
			},
			swapButtonOrder: true,
			callback: function(confirmare){
				if(confirmare){
					$.ajax({
						url: "/hotarariCJC/stergeHotarareCJC",
						type: "POST",
						headers: {"X-CSRF-TOKEN": token},
						contentType: "application/json",
						data: hotarareaCurenta.id,
						success: function(response) {
							if(response == "ok"){
								dtHotarariCJC.ajax.reload(null, false);
							}else{
								alert("Ștergerea nu a fost efectuată! Eroare de aplicație.");
							}
						},
						error: function(response){
							handleHtmlError(response.responseText);
						}
					});
				}
			}
		});
	}
	
	function arataModalArataFisierHCJC(rowIndex){
		hotarareaCurenta = dtHotarariCJC.row(rowIndex).data();
		$("#embedFisierHCJC").attr("src", "/hotarariCJC/arataFisier/"+hotarareaCurenta.id);
		$("#linkBtnDescarcaFisierHCJC").attr("href", "/hotarariCJC/downloadFisier/"+hotarareaCurenta.id);
		
		$("#modalArataFisierHCJC").modal({backdrop: "static", keyboard: false}).modal("show");
	}
	
	function inchideModalArataFisierHCJC(){
		$("#modalArataFisierHCJC").modal("hide");
		hotarareaCurenta = null;
	}
	
</script>