<!doctype html>
<html layout:decorate="template" lang="en" data-bs-theme="light">
	<div id="main" layout:fragment="content">
		<div class="container pt-3">
			<div class="row">
				<div class="col">
					<div class="rounded-2 shadow-sm bg-body-tertiary">
						<div class="row g-0">
							<div class="col-lg-6 px-4 pb-4">
								<form th:action="@{/login}" method="post" class="needs-validation" novalidate>
									<h3 class="my-4 text-center text-uppercase">Please sign in</h3>
									<div th:if="${param.error}">
										<div class="alert alert-danger" role="alert">
											Invalid username or password!
										</div>
									</div>
									<div th:if="${param.logout}">
										<div class="alert alert-warning" role="alert">
											You have been logged out.
										</div>
									</div>
									<div class="row g-3">
										<div class="col-sm-12">
											<label for="username">Username (email)</label>
											<input type="email" class="form-control" id="username" name="username" placeholder="name@example.com">
											<div class="invalid-feedback">
												Please enter a valid username (email address).
											</div>
										</div>
										<div class="col-12">
											<label for="password">Password</label>
											<input type="password" class="form-control" id="password" name="password" placeholder="Password">
											<div class="invalid-feedback">
												Please enter a password.
											</div>
										</div>
										<div class="col-12">
											<div class="form-check">
												<input type="checkbox" class="form-check-input" id="check-terms">
												<label class="form-check-label" for="check-terms">Remember me</label>
												<a href="#" class="float-end">
													Forgot password
												</a>
											</div>
										</div>
										<button class="w-100 btn btn-primary btn-lg" type="submit">Sign in</button>
										<hr class="mt-5">
										Don't have an account?
										<a th:href="@{/signup}"class="w-100 btn btn-secondary btn-lg">Register now</a>
									</div>
								</form>
							</div>
							<div class="col-lg-6">
								<img src="/images/signin1.jpg" style="width:100%; height:100%; object-fit:cover; border-top-right-radius: var(--bs-border-radius); border-bottom-right-radius: var(--bs-border-radius);">
							</div>
						</div>
					</div>	
				</div>
			</div>			
		</div>
	</div>
</html>