<!doctype html>
<html layout:decorate="template" lang="en" data-bs-theme="light">
	<div id="main" layout:fragment="content">
		<div class="ln-main-banner">
			<img src="/images/wallhaven-mpv1o8-crop.jpg" alt="Snow" style="height:300px;">
			<div class="ln-top-left-text">
				<h1>Our solutions</h1>
				<h1>Top quality</h1>
				<div style="padding-top: 40px;">
					<button type="button" class="btn btn-light">Register now!</button>
					<button type="button" class="btn btn-success">DOWNLOAD FREE</button>	
				</div>
				
			</div>
		</div>
		<div id="divMainContent">
			
		</div>
	</div>
</html>