<!doctype html>
<html layout:decorate="template" lang="en" data-bs-theme="light">
	<div id="main" layout:fragment="content">
		<div class="container text-center pt-3">
			<p class="fs-3 text-start">
				Hi! We're glad to see you again!
			</p>
			<div class="row row-cols-auto mb-5">
				<div class="col mb-2">
					<img class="rounded-2 shadow-sm bg-body-tertiary" src="/images/signin1.jpg" style="width:100%; max-width:500px;">
				</div>
				<div class="col mb-2" style="width: 524px;">
					<main class="form-signin w-100 m-auto rounded-2 shadow-sm p-3 bg-body-tertiary" style="height: 100%;">
						<form>
							<h1 class="h3 mb-3 fw-normal">Please sign in</h1>
					
							<div class="form-floating">
								<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
								<label for="floatingInput">Email address</label>
							</div>
							<div class="form-floating">
								<input type="password" class="form-control" id="floatingPassword" placeholder="Password">
								<label for="floatingPassword">Password</label>
							</div>
					
							<div class="form-check text-start my-3">
								<input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
								<label class="form-check-label" for="flexCheckDefault">
									Remember me
								</label>
								<a href="#" class="float-end">
									Forgot password
								</a>
							</div>
							<button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
							<div class="text-start mt-2">
								Don't have an account? <a href="./signup.html" class="">Click here to register</a>
							</div>
						</form>
					</main>
				</div>
			</div>
		</div>
	</div>
</html>