.ln-main-banner {
	position: relative;
	text-align: left;
	color: white;
	overflow: hidden;
}

.ln-top-left-text {
	position: absolute;
	top: 8px;
	left: 16px;
}

.form-signin {
	padding: 1rem;
}

.form-signin .form-floating:focus-within {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}