html {
    font-size: 14px;
}

/*fix pt. miscare continut pe modal open*/
.modal-open {
    overflow: visible;
}

.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    padding-right:0px!important;
}
/*end fix pt. miscare continut pe modal open*/

.fa-button {
	cursor: pointer;
	font-size: 18px;
	transition: 0.3s;
}

.fa-button:hover {
	text-shadow: #444 0 0 10px;
}

#dt-search-0 {
	width:400px;
	margin-left: 10px;
}